.blog_link{
	text-align: center;
	padding: 20px 0 30px 0;
}
.blog_link span{
	margin-right: 8px;
}
.blog_link span a{
	text-decoration: none;
	color: #000;
	line-height: 40px;
	padding: 5px 15px;
	background: #ecf0f1;
}
.blog_link span a:hover{
	background: #d20a0a;
	color: #FFF;
}
.blog_link span a.blog_link_active{
	background: #d20a0a;
	color: #FFF;
}
.blog_item{
	padding: 10px;
	background-color: #ecf0f1;
	margin-bottom: 8px;
}
.blog_item .blog_title{
	font-size: 12px;
}
.blog_item .blog_title a{
	text-decoration: none;
	color: #000;
}
.blog_item .blog_title a:hover{
	color: #121212;
}
.blog_item .blog_date{
	font-size: 12px;
	color: #d20a0a;
}
.blog_item .blog_text{
	font-size: 12px;
}
.readmore{
	color: #1e88e5;
    text-decoration: none;
}
.readmore:hover{
	text-decoration: underline;
}
.not_found{
	text-align: center;
	color: #d20a0a;
}
