.blog_detail{
 	padding: 0 10px;
}
.blog_detail .blog_title{
	font-size: 12px;
}
.blog_detail .blog_date{
	color: #d20a0a;
    display: block;
    font-size: 12px;
    margin-bottom: 16px;
    margin-top: 3px;
}
.blog_detail .feature_image{
	
}
.blog_detail .feature_image img{
	width: 100%;	
}
.blog_text p{
	font-size: 12px;
}
.show_category{
	margin-top: 27px;
	margin-bottom: 11px;
}
.show_category a{
	background: #ecf0f1 none repeat scroll 0 0;
    color: #000;
    font-size: 14px;
    line-height: 30px;
    padding: 8px 25px;
    text-decoration: none;
    text-transform: uppercase;
}
.resource{

}
.resource .title_source{
	color: #d20a0a;
}

.blog_text img{
    max-width: 100% !important;    
}
.blog_link{
    padding: 5px 0 20px 0; 
    text-align: center;
}
.blog_link span{
    margin-right: 8px;
}
.blog_link span a{
    text-decoration: none;
    color: #000;
    line-height: 40px;
    padding: 5px 15px;
    background: #ecf0f1;
}
.blog_link span a:hover{
    background: #d20a0a;
    color: #FFF;
}
.not_found{
    text-align: center;
    color: #d20a0a;
}
