.content_select_city{
	padding: 0 10px;
}
.content_menu_city{
	text-align: center;
	padding-bottom: 25px;
}
.content_menu_city a{
	padding: 8px 15px;
	background: #ecf0f1;
	font-size: 14px;
	text-decoration: none;
	margin: 0 2px;
	color: #000;
	line-height: 41px;
	cursor: pointer;
	text-transform: uppercase;
}
.content_menu_city a:hover{
	background: #d20a0a;
	color: #FFF;
}
.content_menu_city a.current{
	background: #d20a0a;
	color: #FFF;
}
.tab-content{
	display: none;
}
.tab-content.current{
	display: inherit;
}
.content_img_map{
	text-align: center;
	background: #ecf0f1;
	padding: 30px 0;
}
.content_img_map p{
	color: #000;
	font-size: 14px;
}
.content_btn_city{
	text-align: center;
	padding-top: 10px;
}
.content_btn_city .btn_go_city{
	background: #d20a0a;
	border: none;
	color: #FFF;
	padding: 10px 55px;
	cursor: pointer;
	font-size: 14px;
	letter-spacing: 2px;
	-webkit-appearance: none;
}
.content_btn_city .btn_go_city:hover{
	font-weight: bold;
	opacity: 0.8;
}
.content_check{
	padding: 10px 0 10px 30px;
}
.content_check input[type="checkbox"] {
    display: none;
}
.content_check input[type="checkbox"]+label {    
    background: url('/assets/img/icon/unc.png') no-repeat;
    height:17px;
    padding-left: 22px;
    padding-top: 1px;
	line-height: 26px;
	font-size: 14px;
}
.content_check input[type="checkbox"]:checked + label {
    background: url('/assets/img/icon/c.png')  no-repeat;
    height:17px;
}
.content_check label span{
	color: #d20a0a;
}