.content_detail{
	padding: 0 10px;

}
.block_top_bar{
	width: 100%;
	float: left;
}
.block_back{
	width: 60px;
	border:1px solid #ecf0f1;
	text-align: center;
	padding: 5px 15px;
	cursor: pointer;
	float: left;
}
.block_back span {
	font-size: 14px;
}
.title_top{
	width: 65%;
	color: #d20a0a;
	font-size: 14px;
	text-align: left;
	padding: 5px 0;
	float: right;
}
.main_image{
	min-height: 230px;
	margin-top: 10px;
}
.image_responsive{
	width: 100%;
	min-height: 230px;
}
.thumb_image{
  float: left !important;
  width: 100%;
}
.thumb_image a{
    text-decoration: none;
}
.image_responsive_thumb{
	width: 32.14%;
	min-height: 88px;
}
.thumb_image span{
	margin-right: 0.3%;
}
.thumb_image span:nth-child(3n+0) {
    margin-right: 0;
}
.title_detail{
	text-align: center;
	padding: 9px 15px;
	cursor: pointer;
	background: #d20a0a;
	color:#fff;
	margin-top:10px;
}
.detail{
	border-bottom: 1px solid #ecf0f1;
	border-left:1px solid #ecf0f1;
	border-right: 1px solid #ecf0f1;
}
.detail table{
	width: 100%;
}
.td_left {
    color: #adadad;
    font-size: 14px;
    padding: 3px 0 3px 3px;
    text-align: right;
    vertical-align: top;
    width: 50%;
 }
 .td_right {
    font-size: 14px;
    padding: 3px 0 3px 3px;
    text-align: left;
    vertical-align: top;
    width: 50%;
}
.price{
	color:#d20a0a !important;
}
.additional_detail {
	margin-top: 10px;
    background: #ecf0f1 none repeat scroll 0 0;
    color: #000;
    font-size: 14px;
    height: 32px;
    padding: 9px 0 0 10px;
    text-align: center;
}
.info_additional_detail{
	border-bottom: 1px solid #ecf0f1;
	border-left:1px solid #ecf0f1;
	border-right: 1px solid #ecf0f1;
}
.info_additional_detail table{
	width: 100%;
}
.add_td_left {
    color: #adadad;
    font-size: 14px;
    padding: 3px 0 3px 3px;
    text-align: left;
    vertical-align: top;
    width: 50%;
}
.add_td_right {
    font-size: 14px;
    padding: 3px 3px 3px 3px;
    text-align: right;
    vertical-align: top;
    width: 50%;
}

.td_single {
    font-size: 14px;
    padding: 3px 0 3px 3px;
    text-align: left;
    vertical-align: top;
    width: 100%;
}
.title_map {
    border: 1px solid #ecf0f1;
    height: 32px;
    margin-top: 13px;
    padding: 9px 0 0 0;
    text-align: center;
}

.contact_text {
    color: #000000;
    font-size: 12px;
}

.content_video {
    height: 283px;
    margin-top: 10px;
    width: 100%;
}
#map {
    height: 283px;
    margin-top: 10px;
    width: 100%;
}
.contain_feature {
    margin: 15px 0 0 -7px;
    padding: 0;
}
.contain_feature ul {
    float: left;
    list-style: outside none none;
    width: 50%;
}
.contain_feature ul:nth-child(2n+0) {
    margin-top: -5px;
}
.contain_feature input[type="checkbox"] {
    display: none;
}
.contain_feature input[type="checkbox"]:checked + label {
    background: rgba(0, 0, 0, 0) url("/assets/img/icon/c.png") no-repeat scroll 0 0;
    height: 17px;
}
.contain_feature input[type="checkbox"] + label {
    background: rgba(0, 0, 0, 0) url("/assets/img/icon/unc.png") no-repeat scroll 0 0;
    height: 17px;
    padding-left: 22px;
    padding-top: 1px;
}
.text_feature {
    color: #000;
    font-size: 12px;
}

.properties_description {
    border: 1px solid #ecf0f1;
    color: #000;
    font-size: 12px;
    margin-top: 20px;
    padding: 15px;
}

.floorplan {
    margin: auto;
    padding: 10px 0;
    text-align: center;
}

.floorplan img {
    height: 70%;
    width: 280px;
}

.transportation {
    border: 1px solid #ecf0f1;
    color: #000;
    font-size: 12px;
    margin-top: 20px;
    padding: 15px 25px;
}
.company_info {
    border: 1px solid #ecf0f1;
    padding-top: 26px;
    margin-top: 15px;
}
.logo_company {
    height: 105px;
    margin: auto;
    width: 107px;
}
.logo_company img {
    height: 105px;
    width: 107px;
}
.contact_info {
    margin: 15px auto auto;
    text-align: center;
}
.contact_img {
    height: 80px;
    margin-left: 8px;
    width: 80px;
}
.company_name {
    color: #d20a0a !important;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
.company_name a{
    text-decoration: none;
    color: #d20a0a !important;
}
.contact_detail {
    margin-left: 15px;
}
.contact_other {
    margin-top: 15px;
}
.description {
    border-top: 1px solid #ecf0f1;
    cursor: pointer;
    margin: 25px auto;
    padding-top: 16px;
    text-align: center;
    width:90%;
}
.title_descr {
    color: #000;
    font-size: 12px;
    font-weight: bold;
}
.arrow_img {
    vertical-align: middle;
}
.contain_inquire {
    background: #ecf0f1 none repeat scroll 0 0;
    margin-top: 9px;
    padding: 20px 0 25px;
    text-align: center;
}
.wrapper_title{
     margin-bottom: 10px;
}
.contain_inquire .inquire_title {
    color: #d20a0a;
    font-size: 14px;
}
.contain_inquire form {
    margin: auto;
    text-align: center;
}
.form_controll {
    border: medium none;
    height: 27px;
    text-indent: 7px;
    margin-bottom:10px;
    width: 90%;
}

.textarea_controll {
    border: medium none;
    height: 80px;
    resize: none;
    text-indent: 7px;
    margin-bottom:10px;
    width: 90%;
}
.contain_agree {
    float: left;
    padding: 10px 10px 15px;
    text-align: left;
}
.contain_agree ul:nth-child(2n+0) {
    margin-top: -5px;
}
.contain_agree input[type="checkbox"] {
    display: none;
}
.contain_agree input[type="checkbox"]:checked + label {
    background: rgba(0, 0, 0, 0) url("/assets/img/icon/c.png") no-repeat scroll 0 0;
    height: 17px;
}
.contain_agree input[type="checkbox"] + label {
    background: rgba(0, 0, 0, 0) url("/assets/img/icon/unc.png") no-repeat scroll 0 0;
    height: 17px;
    padding-left: 22px;
    padding-top: 1px;
}
.text_agree {
    font-size: 12px;
}
.contain_submit {
    background: #d20a0a none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 33px;
    width: 150px;
    -webkit-appearance: none;
}