.content_favorite{
	margin: 0 10px;
}
.title_info{
	background:#ecf0f1;
	padding: 9px 9px;
	margin-top: 20px;
}
.content_form{
	margin:15px auto;
}
.content_form .table_info{
	width: 100%;
}
.button_edit_info {
    background-color: #d20a0a;
    border: 0 none;
    color: #ffffff;
    cursor: pointer;
    width: 25%;
    height: 32px;
    -webkit-appearance: none;
    font-size: 14px;
    text-align: center;
}
.td_left{
	width: 30%;
	padding: 5px 0 5px 5px;
    font-size: 13px;
}
.td_right{
	width: 70%;
	padding: 5px 5px 5px 0;
    font-size: 13px;

}
.tr_center{
	text-align: center;
}

.change_password {
    background-color: #d20a0a;
    border: medium none;
    border-radius: 13px;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    height: 25px;
    padding: 3px 10px;
    text-decoration: none;
    width: 140px;
}

.text_filed {
    border: 1px solid #ecf0f1;
    height: 27px;
    width: 100%;
    font-size: 13px;
}
#pop_password{
	display: none;
}
.lb_pwd{
    font-size: 12px;
}

.btn_pwd {
    background-color: #d20a0a;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    height: 25px;
    width: 80px;
    -webkit-appearance: none;
}
.tr_left{
    text-align: right;
}
.alert-message{
    font-size: 13px;
}
.alert-message .alert-error {
    background-color: rgba(215, 44, 34, 0.5);
    color: #d20a0a;
    font-size: 12px;
}
.alert-message .alert {
    font-size: 12px;
    margin-bottom: 0;
    padding: 15px 10px;
    text-align: center;
}
.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    font-size: 13px;
}
.error {
    color: red;
    font-size: 12px;
}