.content_favorite{
	margin: 0 10px;
}

.top_header_form{
	background:#ecf0f1;
	padding: 27px 10px;
	margin-top: 20px;
}
.top_header_form label{
	font-size: 13px;
}
.top_header_form span{
	font-size: 13px;
}
.count_chk{
	padding-left: 10px;
}
.btn_delete{
	background: #fff none repeat scroll 0 0;
    cursor: pointer;
    margin: 10px auto;
    width: 50px;
    height: 32px;
    -webkit-appearance: none;
    margin-left: 10px;
}
.btn_delete i{
	color: #d20a0a;
    text-decoration: none;
    font-size: 16px;
}
.btn_search .text_keyword {
    border: medium none;
    height: 25px;
    text-indent: 7px;
    vertical-align: middle;
    width: 59%;
}
.btn_search .search {
    background: #d20a0a none repeat scroll 0 0;
    border: medium none;
    box-shadow: 0 1px 0 0 #ccc;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 26px;
    margin-left: 7px;
    vertical-align: middle;
    width: 100px;
     -webkit-appearance: none;
}
.block_data_properites{
	margin-top: 20px;
}
.data_properties {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 3px 5px #888;
    height: 100px;
    margin-bottom: 10px;
    padding: 7px 7px 7px 0;
}
.properties_image {
    float: left;
    height: 100px;
    width: 120px;
    position: relative;
}
.properties_img_status {
    float: left;
    margin-left: -13px;
    margin-top: 38px;
    position: relative;
}
.properties_description {
    float: left;
    padding: 7px 0;
    width: 48%;
}

.properties_image img {
    height: 100%;
    width: 100%;
}
.properties_name {
    color: #d20a0a !important;
    text-transform: uppercase;
}
.properties_font {
    color: #000;
    font-size: 12px;
    padding: 2px 0;
}
.pagination{
	margin: 30px 0 20px 0;
	text-align: center;
}
.pagination a{
	text-decoration: none;
	padding: 0 15px;
	color: #000;
	font-size: 12px;
}
.pagination a.link_active{
	color: #d20909;
}
.pagination a.link_active:hover{
	text-decoration: underline;
}
.pagination a[rel="prev"]{
	color: #d20909;
}

.pagination a[rel="next"]{
	color: #d20909;
}
.pagination a[rel="prev"]:hover{
	text-decoration: underline;
}

.pagination a[rel="next"]:hover{
	text-decoration: underline;
}
.pagination .current{
	color: #d20909;
	padding: 0 15px;
	font-size: 13px;
}
.pagination a:hover{
	color: #d20909;
}

.not_found{
	text-align: center;
	color: #d20a0a;
}
#popup_delete{
	display: none;
}
.popup_header{
	font-size: 13px;
	color: #000;
}
.popup_btn{
	float: right;
	margin-top: 51px;
}

.popup_submit{
	background: #d20a0a ;
	width: 100px;
	height: 25px;
	color: #fff;
	border:none;
	cursor: pointer;
	-webkit-appearance: none;
}
.popup_cancel{
	background: #fff ;
	width: 100px;
	height: 25px;
	color: #000;
	border:none;
	cursor: pointer;
	-webkit-appearance: none;
}

.data_check {
    left: 7px;
    position: absolute;
    top: 9px;
    z-index: 99;
}
.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    font-size: 13px;
}