.content_favorite{
	margin: 0 10px;
}
.title_info{
	background:#ecf0f1;
	padding: 9px 9px;
	margin-top: 20px;
}
.content_form{
	margin:15px auto;
}
.content_form .table_info{
	margin: 0 10px;
}
.button_edit_info {
    background-color: #d20a0a;
    border: 0 none;
    color: #ffffff;
    cursor: pointer;
    width: 25%;
    height: 32px;
    -webkit-appearance: none;
    font-size: 14px;
    text-align: center;
}
.td_left{
	width: 40%;
	padding: 5px 0 5px 0;
    font-size: 13px;
}
.td_right{
	width: 60%;
	padding: 5px 0;
    font-size: 13px;
}
.tr_center{
	text-align: center;
}