*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Montserrat', sans-serif; 
}
#wrapper{
	width: 100%;
	max-width: 600px;
	margin: auto;
}
.clear{
	clear: both;
}
.content_header{
	width: 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	margin-bottom: 20px;
}
.content_logo{
	text-align: center;
	padding: 5px 0;
}
.content_logo img{
	vertical-align: middle;
	width: 118px;
	height: 70px;
}
.content_menu{
	padding: 9px 20px;
	background: #ecf0f1;
	border-top: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
}
.menu_icon{
	float: left;
	cursor: pointer;
}
.menu_icon img{
	vertical-align: middle;
}
.login_register{
	float: right;
}
.login_register *{
	font-size: 14px;
	color: #d20a0a;
	text-decoration: none;
	display: inline-block;
}
#ruler_heri{
	color: #000;
}
.content_slide_menu{
	padding: 0 20px;
	position: relative;
}
.wrap_slide_menu{
	padding: 10px 20px 0 20px;
	position: relative;
}
.slide_menu{
	width: 100%;
	background: #FFF;
	position: absolute;
	left: 0;
	display: none;
}
.wrap_slide_menu div{
	width: 100%;
	border-bottom: 1px solid #ecf0f1;
}
.wrap_slide_menu div a{
	display: inline-block;
	color: #888;	
	font-size: 14px;
	padding: 12px 0;
	width: 100%;
	text-decoration: none;
}
.wrap_slide_menu div a:hover{
	color: #555;
}
.banner_header{
	background: url('/assets/img/mobile/background/banner_header.jpg') no-repeat center center;
	width: 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	min-height: 88px;
	text-align: center;
}
.title_page{
	 color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
}
.contain_footer{
	margin-top: 30px;
	width: 100%;
	background: url('/assets/img/mobile/background/background_footer.jpg') no-repeat center center;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	min-height: 110px;
	text-align: center;
}
.contain_footer .block_contact{
	color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 30px;
   	margin:auto;
    text-transform: uppercase;
    width: 216px;
}
.block_contact .contact{
	font-size: 14px;
	margin-bottom: 10px;
	float: left;
}
.block_contact i{
	padding-right:5px;
}
.block_copyright{
	padding-top: 25px;
	text-align: center;
	font-size: 14px;
	color: #000;
	margin-bottom: 25px;
}
.clear{
	clear: both;
}
.menu_top{
	background:#ecf0f1;
	padding: 27px 0;
	text-align: center;
}
.menu_top h4{
	padding-bottom: 15px;
}
.menu_top .count_favorite{
	 color: #d20a0a;
}
.menu_title{
	background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 0 0 #ccc;
    cursor: pointer;
    margin-top: 10px;
    padding: 9px 20px !important;
    width: 70%;
    text-align: left;
    margin: 10px auto;
}
.menu_top a {
    color: #000;
    text-decoration: none;
}
.menu_title i {
    color: #d20a0a;
    text-decoration: none;
}
.account_name {
    color: #000;
    font-size: 13px;
}
.account_icon {
    color: #d20a0a;
}
.logout{
    color: #d20a0a;
    font-size: 14px;
    text-decoration: none;
}