*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Montserrat', sans-serif; 
}
#wrapper{
	width: 100%;
	max-width: 600px;
	margin: auto;
}
.clear{
	clear: both;
}
.content_header{
	background: url('/assets/img/mobile/background/header_bg.jpg') no-repeat center center;
	width: 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	min-height: 360px;
}
.content_logo{
	text-align: center;
	padding: 5px 0;
}
.content_logo img{
	vertical-align: middle;
	width: 118px;
	height: 70px;
}
.content_menu{
	padding: 9px 10px;
	background: rgba(255,255,255,0.2);
	border-top: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
}
.menu_icon{
	float: left;
	cursor: pointer;
}
.menu_icon img{
	vertical-align: middle;
}
.login_register{
	float: right;
}
.login_register *{
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	display: inline-block;
}
.content_slide_menu{
	padding: 0 10px;
	position: relative;
}
.wrap_slide_menu{
	padding: 0 10px;
	position: relative;
}
.slide_menu{
	width: 100%;
	background: #FFF;
	position: absolute;
	left: 0;
	display: none;
}
.wrap_slide_menu div{
	width: 100%;
	border-bottom: 1px solid #ecf0f1;
}
.wrap_slide_menu div a{
	display: inline-block;
	color: #888;	
	font-size: 14px;
	padding: 12px 0;
	width: 100%;
	text-decoration: none;
}
.wrap_slide_menu div a:hover{
	color: #555;
}
.text_find_home{
	color: #FFF;
	text-align: center;
	letter-spacing: 2px;
	font-size: 16px;
	padding: 13px;
}
.content_menu_status{
	padding: 0 10px;
}
.menu_status{
	background: rgba(255,255,255,0.5);
	padding: 20px;
	padding-bottom: 10px;
}
.menu_status div{
	margin-bottom: 10px;
	width: 100%;
}
.menu_status div a{
	display: inline-block;
	background: #d20a0a;
	color: #FFF;
	font-size: 14px;
	padding: 7px 0;
	width: 100%;
	text-align: center;
	text-decoration: none;
}
.menu_status div a:hover{
	opacity: 0.8;
}
.content_body{
	background: url('/assets/img/mobile/background/properties_bg.jpg') no-repeat center center;
	padding: 10px;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}
.text_popular_home{
	text-align: center;
	color: #000;
	font-size: 16px;
	padding: 13px 0;
}
.content_data_properties a{
	text-decoration: none;
}
.data_properties{
	height: 100px;
	box-shadow: 0 3px 5px #888;
	margin-bottom: 10px;
	padding: 7px 7px 7px 0;
	background: #FFF;
}
.properties_image{
	width: 120px;
	height: 100px;
	float: left;
}
.properties_image img{
	width: 100%;
	height: 100%;
}
.properties_description{
	width: 48%;
	float: left;
	padding: 7px 0;
}
.properties_font{
	font-size: 12px;
	color: #000;
	padding: 2px 0;
}
.properties_name{
	color: #d20a0a;
	text-transform: uppercase;
}
.properties_view span{
	color: #d20a0a;
}
.properties_img_status{
	position: relative;
	float: left;
	margin-top: 38px;
	margin-left: -13px;
}
.content_step{
	text-align: center;
	padding: 30px 10px;
	background: #ecf0f1;
}
.content_step .text_how{
	font-size: 16px;
	color: #000;
	padding-bottom: 30px;
}
.content_step .link_detail_how a{
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
	background: #d20a0a;
	padding: 5px 20px;
	box-shadow: 0 3px 5px #888;
}
.content_blog{
	text-align: center;
	padding: 30px 0;
}
.blog_text{
	padding-bottom: 20px;
	font-size: 16px;
}
.blog_link{
	text-align: center;
	padding: 0 0 30px 0;
}
.blog_link span{
	margin-right: 8px;
}
.blog_link span a{
	text-decoration: none;
	color: #000;
	line-height: 40px;
	padding: 5px 20px;
	background: #ecf0f1;
	cursor: pointer;
	font-size: 14px;
}
.blog_link span a:hover{
	background: #d20a0a;
	color: #FFF;
}
.blog_link span a.blog_link_active{
	background: #d20a0a;
	color: #FFF;
}
.link_blog_all{
	text-decoration: none;
}
.blog_data{
	background: #ecf0f1;
	padding: 10px;
	height: 88px;
	text-align: left;
	margin-bottom: 10px;
}
.blog_title{
	font-size: 12px;
	color: #000;
	text-transform: uppercase;
}
.blog_date{
	color: #d20a0a;
	font-size: 12px;
	padding: 3px 0;
}
.blog_description{
	font-size: 12px;
	color: #000;
}
.more_blog{
	text-align: center;
	padding: 20px 0;
}
.more_blog a{
	text-decoration: none;
	color: #000;
	font-size: 14px;
	line-height: 30px;
	padding: 8px 25px;
	background: #ecf0f1;
}
.more_blog a:hover{
	color: #000;
	background: #dde0e1;
}
.content_footer{
	text-align: center;
}
.footer_contact{
	background: url('/assets/img/mobile/background/footer_bg.jpg') no-repeat center center;
	min-height: 110px;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%; 
}
.footer_contact div{
	color: #FFF;
	font-size: 14px;
}
.footer_phone{
	padding: 30px 0 15px 0;
}
.wrap_contact{
	width: 190px;
	margin: 0 auto;
	text-align: left;
}
.footer_copy_right{
	font-size: 14px;
	padding: 30px 0;
}
.not_found{
	text-align: center;
	color: #d20a0a;
	font-size: 14px;
}
.alert-error{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.alert{
	padding: 15px;
	margin: 10px 0;
	border: 1px solid transparent;
	border-radius: 4px;
}
.alert div{
	position: absolute;
	right: 0px;
	top: 10px;
	background: rgba(0,0,0,0.2);
	padding: 2px 8px;
	color: #FFF;
}