
.content_list{
	padding: 0 10px;
}
.content_list_menu{
	margin-bottom: 20px;
}
.content_list_menu *{
	text-align: center;
	width: 100%;
}
.list_active{
	padding: 10px 0;
	background: #d20a0a;
	color: #FFF;
	font-size: 13px;
	letter-spacing: 2px;
	margin-bottom: 10px;
}
.content_list_menu a{
	text-decoration: none;
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	font-size: 14px;
	color: #000;
	letter-spacing: 2px;
	background: #ecf0f1;
}
.content_list_menu a:hover{
	color: #FFF;
	background: #d20a0a;
}
.content_location{
	margin-bottom: 10px;
}
.content_perfecture{
	float: left;
	width: 60%;
	font-size: 13px;
	text-transform: uppercase;
}
.content_city{
	float: right;
	width: 40%;
	text-align: right;
	font-size: 13px;
}
.map_icon{
	color: #d20909;
	font-size: 20px;
	line-height: 0;
}
.count_city{
	color: #d20a0a;
}
.content_filter{
	text-align: center;
	font-size: 12px;
	padding: 10px 0;
	cursor: pointer;
	background: #d20a0a;
	margin-top: 10px;
	color: #FFF;
}
.content_filter span{
	color: #d20909;
	padding-right: 20px;
}
.sort_down{
	background: url('/assets/img/mobile/background/dropdown_sort.png') right no-repeat;
}
.sort_up{
	background: url('/assets/img/mobile/background/dropup_sort.png') right no-repeat;
	display: none;
}
.content_slide_filter{
	display: none;
	margin-bottom: 10px;
	background: #d20a0a;
	padding: 1px;
}
.content_slide_filter .title_text{
	background: #FFF;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	padding: 7px 0;
}
.content_slide_filter .frm_filter{
	padding: 7px 0;
	background: #ecf0f1;
}
.frm_filter table{
	width: 100%;
}
.frm_filter table tr td{
	width: 50%;
	padding-left: 30px;
}
.frm_filter .custom_td{
	padding-left: 12px;
}
.frm_filter table.position_td tr td:last-child{
	width: 50%;
	padding-left: 0px;
}
.frm_filter table.content_other tr td{
	padding-left: 10px;
}
.content_slide_filter input[type="checkbox"] {
    display: none;
}
.content_slide_filter input[type="checkbox"]+label {    
    background: url('/assets/img/icon/unc.png') no-repeat;
    padding-left: 22px;
    padding-top: 1px;
    font-size: 12px;
    line-height: 28px;
}
.content_slide_filter input[type="checkbox"]:checked + label {
    background: url('/assets/img/icon/c.png')  no-repeat;
}
.frm_filter .maked{
	padding-left: 33px;
}
.frm_filter .maked1{
	padding-left: 20px;
}
.frm_filter .maked2{
	padding-left: 20px;
}
.frm_filter.center{
	text-align: center;
	padding: 8px 0;
}
.frm_filter select{
	width: 100px;
	height: 27px;
	border: none;
	box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	padding-left: 4px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: #FFF url('/assets/img/background/sort.png') 90% 50% no-repeat;
   padding-right: 20px;
}
.frm_filter select option{
	padding-left: 5px;
}
.frm_filter .space{
	padding: 0 5px;
}
.frm_filter input[type="text"]{
	width: 90px;
	height: 34px;
	border: none;
	box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	padding-left: 4px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.center_submit input{
	width: 90px;
	height: 35px;
	border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #d20a0a;
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
    margin-right: 3px;
}
#btn_reset{
	background: #FFF;
	color: #000;
	border: 1px solid #bbb;
}
.center_submit input:hover{
	opacity: 0.8;
}
.frm_filter.center_submit{
	text-align: center;
	padding: 0;
	padding-bottom: 40px;
}


.content_data_properties{
	margin-top: 10px;
}
.content_data_properties a{
	text-decoration: none;
}
.data_properties{
	height: 100px;
	box-shadow: 0 3px 5px #888;
	margin-bottom: 10px;
	padding: 7px 7px 7px 0;
	background: #FFF;
}
.properties_image{
	width: 120px;
	height: 100px;
	float: left;
}
.properties_image img{
	width: 100%;
	height: 100%;
}
.properties_description{
	width: 48%;
	float: left;
	padding: 7px 0;
}
.properties_font{
	font-size: 12px;
	color: #000;
	padding: 2px 0;
}
.properties_name a{
	color: #d20a0a;
	text-transform: uppercase;
}
.properties_view span{
	color: #d20a0a;
}
.properties_img_status{
	position: relative;
	float: left;
	margin-top: 38px;
	margin-left: -13px;
}
.pagination{
	margin: 30px 0 20px 0;
	text-align: center;
}
.pagination a{
	text-decoration: none;
	padding: 0 15px;
	color: #000;
	font-size: 12px;
}
.pagination a.link_active{
	color: #d20909;
}
.pagination a.link_active:hover{
	text-decoration: underline;
}
.pagination a[rel="prev"]{
	color: #d20909;
}

.pagination a[rel="next"]{
	color: #d20909;
}
.pagination a[rel="prev"]:hover{
	text-decoration: underline;
}

.pagination a[rel="next"]:hover{
	text-decoration: underline;
}
.pagination .current{
	color: #d20909;
	padding: 0 15px;
	font-size: 13px;
}
.pagination a:hover{
	color: #d20909;
}

.not_found{
	text-align: center;
	color: #d20a0a;
}
.link_fav{
	font-weight: bold;
	text-decoration: none;
	color: #000;
	cursor: pointer;
	float: right;
	margin-top: -50px;
	margin-right: 20px;
}
.heart_icon{
	color: #d20909;
	font-size: 15px;
}
.content_link_sort{
	text-align: center;
}
.text_sort{
	font-size: 12px;
	margin-bottom: 2px;
}
.span_sort{
	font-size: 12px;
	padding: 5px 10px;
	background: #ecf0f1;
	margin-right: 8px;
}
.span_sort span{
	padding-right: 5px;
}
.span_sort a{
	padding-left: 5px;
}
.sort_top{
	margin-bottom: 10px;
}