.content_login{
	width: 100%;
}
.block_button{
	padding: 10px;
	margin-bottom: 25px;
    text-align: center;
}
.text_login{
	 background: #d20a0a none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    height: 35px;
    letter-spacing: 2px;
    line-height: 35px;
    text-transform: uppercase;
    width: 49%;
    float: left;
}
.text_register{
	background: #ecf0f1 none repeat scroll 0 0;
    color: #000;
    display: inline-block;
    font-size: 13px;
    height: 35px;
    letter-spacing: 2px;
    line-height: 35px;
    text-transform: uppercase;
    width: 49%;
    float: right;
}
.text_register:hover{
	background: #d20a0a none repeat scroll 0 0;
	color: #fff;
}
.block_button a{
    text-decoration: none;
}
.title_sigin{
	margin-bottom: 10px;
}
.block_form{
	width: auto;
	background: #ecf0f1 none repeat scroll 0 0;
	text-align: center;
    margin: 39px 8px;
}
.block_form form{
    padding:35px 15px; 
}
.text_field{
	 border: medium none;
    font-size: 14px;
    height: 28px;
    text-indent: 10px;
    width: 100%;
}
.form_controll{
	margin-top: 15px;
}
.form_button{
	text-align: center;
	margin: auto;
}
.btn_go{
	margin-top: 25px;
	background: #d20a0a none repeat scroll 0 0;
    color: #fff;
    font-size: 13px;
    height: 35px;
    letter-spacing: 2px;
    line-height: 35px;
    text-transform: uppercase;
    border: none;
    width: 50%;
    text-align: center;
    font-weight: bold;
    -webkit-appearance: none;
}

.block_forget{
	margin-top: 30px;
}
.block_forget .forget{
	color: #0000ff;
	font-size: 14px;
}
.block_forget .dont{
	margin-top: 10px;
	font-size: 14px;
}
.block_forget .yet{
	padding-left: 7px;
	color:#d20a0a;
	font-size: 14px;
}
.isa_info, .isa_success, .isa_warning, .isa_error {
    font-size: 14px;
    margin: 10px 0;
    padding: 8px 8px 8px 20px;
    text-align: left;
}
.isa_error {
    background-color: #ffbaba;
    color: #d8000c;
}
.block_forget a{
    text-decoration: none;
}

.php_error {
    color: #d20a0a;
    font-size: 12px;
    font-style: italic;
    text-align: left !important;
    text-transform: none !important;
}
.error {
    color: #d20a0a;
    font-size: 12px;
    font-style: italic;
    text-align: left !important;
    float: left;
    text-transform: none !important;
}