
.content_map{
	padding: 0 10px;
}
.content_menu_map{
	margin-bottom: 20px;
}
.content_menu_map *{
	text-align: center;
	width: 100%;
}
.map_active{
	padding: 10px 0;
	background: #d20a0a;
	color: #FFF;
	font-size: 13px;
	letter-spacing: 2px;
}
.content_menu_map a{
	text-decoration: none;
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	font-size: 14px;
	color: #000;
	letter-spacing: 2px;
	background: #ecf0f1;
}
.content_menu_map a:hover{
	color: #FFF;
	background: #d20a0a;
}
.top_link_map{
	margin-bottom: 10px;
}
.wrap_map{
	position: relative;
}
#map{
	height: 300px;
	width: 100%;
}
.content_map_right{
	position: relative;
}
.content_map_detail{
	width: 100%;
	background: rgba(255,255,255,0.6);
	position: absolute;
	z-index: 1;
    display: inline-block;
	display: none;
}
.in_wrap_detail{
	padding: 20px; 
}
/*.content_map_detail .detail_map{
	margin: 0 auto;
}*/
.content_map_detail .detail_map .in_detail_map{
	background: #FFF;
	padding: 5px 0 5px 7px;
	box-shadow: 0px 5px 8px rgba(0,0,0,0.3);
	margin-bottom: 7px;
}
.content_map_detail .detail_map .map_detail_text{
	float: left;
	text-align: left;
	padding-top: 6px;
}
.content_map_detail .detail_map .map_detail_text a{
	font-size: 12px;
	color: #d20a0a;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
}
.content_map_detail .detail_map .map_detail_text p{
	font-size: 12px;
}
.content_map_detail .detail_map .map_detail_img{
	width: 82px;
	float: right;
	height: 60px;
}
.content_map_detail .detail_map .map_detail_img img{
	width: 82px;
	height: 60px;
}
.content_map_detail .detail_map .map_detail_img .icon_type{
	width: 26px;
	height: 22px;
	position: absolute;
	background: url('/assets/img/background/bg_on_map.png') no-repeat center center;
	text-align: center;
	padding-top: 4px;
	color: #FFF;
	font-size: 13.45px;
	margin-top: 18px;
	margin-left: -13px;
}

.pagination{
	margin: 18px 0 10px 0;
	text-align: center;
}
.pagination a{
	text-decoration: none;
	padding: 0 10px;
	color: #000;
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
}
.pagination a.link_active{
	color: #d20909;
	font-size: 24px;
}
.pagination a.link_active:hover{
	text-decoration: underline;
}
.pagination .current{
	color: #d20909;
	padding: 0 10px;
	font-size: 14px;
	vertical-align: middle;
}
.pagination a:hover{
	color: #d20909;
}
.close_detail_map{
	position: absolute;
	margin-left: 46%;
	margin-top: 5px;
	cursor: pointer;
}
.content_search_area{
	background: #ecf0f1;
	padding: 20px 0; 
	text-align: center;
	margin-top: 10px;
}
.text_area{
	padding-bottom: 15px;
	font-size: 14px; 
}
.search_area{
	width: 70%;
	background: #FFF;
	box-shadow: 0 3px 5px #ccc;
	padding: 10px 20px;
	margin: auto;
	margin-bottom: 10px;
}
.search_area p{
	font-size: 14px;
}
.search_area a{
	text-decoration: none;
}
.btn_search_area{
	background: #d20a0a;
	margin-top: 10px;
	padding: 8px 3px;
	text-align: center;
	border-radius: 30px;
	cursor: pointer;
	color: #FFF;
}
.btn_search_area:hover{
	opacity: 0.8;
}
.btn_search_area i{
	font-size: 18px;
}
.text_search_area{
	text-transform: uppercase;
	font-size: 14px;
}
.content_search_filter{
	margin-top: 10px;
	background: #d20a0a;
	padding: 1px;
}
.text_filter{
	text-align: center;
	color: #FFF;
	font-size: 14px;
	padding: 20px 0;
}
.content_type_search{
	background: #ecf0f1;
}
.type_text{
	padding: 20px 0;
	background: #FFF;
	text-align: center;
	font-size: 14px;
}
.type_check{
	width: 70%;
	margin: 0 auto;
	padding: 20px 0;
}
.status_check{
	width: 70%;
	margin: 0 auto;
	padding: 20px 0;
}
.price_select{
	width: 70%;
	margin: 0 auto;
	padding: 20px 0;
}
.type_check input[type="checkbox"] {
    display: none;
}
.type_check input[type="checkbox"]+label {    
    background: url('/assets/img/icon/unc.png') no-repeat;
    padding-left: 22px;
    padding-top: 1px;
    font-size: 14px;
    line-height: 28px;
}
.type_check input[type="checkbox"]:checked + label {
    background: url('/assets/img/icon/c.png')  no-repeat;
}
.status_check input[type="checkbox"] {
    display: none;
}
.status_check input[type="checkbox"]+label {    
    background: url('/assets/img/icon/unc.png') no-repeat;
    padding-left: 22px;
    padding-top: 1px;
    font-size: 14px;
    line-height: 28px;
}
.status_check input[type="checkbox"]:checked + label {
    background: url('/assets/img/icon/c.png')  no-repeat;
}
.price_select{
	text-align: center;
	background: #ecf0f1;
	padding: 16px 0;
}
.price_select select{
	width: 90px;
	height: 34px;
	border: none;
	box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	padding-left: 4px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: #FFF url('/assets/img/background/sort.png') 90% 50% no-repeat;
   padding-right: 20px;
}
.price_select .space{
	padding: 0 5px;
}
.content_perfecture_pop{
	display: none;
}
#popup_perfecture{
	text-align: center;
}
.text_perfecture{
	color: #000;
	font-size: 14px;
}
.per_pop{
	margin-bottom: 30px;
}
.per_pop table{
	width: 100%;
}
.per_pop table tr td{
	vertical-align: bottom;
	padding: 10px;
}
.per_pop table tr td p{
	color: #000;
	font-size: 14px;
}
.per_pop table tr td a{
	text-decoration: none;
}
.per_pop table tr td a:hover{
	opacity: 0.8;
}
.content_close_popup img{
	vertical-align: middle;
	cursor: pointer;
}
.fancybox-skin{
	border-radius: 0 !important;
}
.content_city_popup{
	display: none;
}
.popup_city{
	text-align: center;
	/*padding: 10px 0 30px 0;*/
}
.text_city{
	color: #000;
	font-size: 14px;
	padding: 15px 0;
}
.city_pop{
	margin-bottom: 30px;
	/*padding: 30px;*/
}
.city_pop table{
	width: 100%;
}
.city_pop table tr td{
	vertical-align: middle;
	text-align: left;
	width: 50%;
}
.city_pop table tr a{
	color: #000;
	text-decoration: none;
	font-size: 14px;
	display: inline-block;
}
.city_pop table tr a:hover{
	text-decoration: underline;
}
.city_pop table tr a label{
	cursor: pointer;
}
.city_pop table tr a i{
	color: #d20a0a;
}
.city_pop table tr a label span{
	color: #d20a0a;
}
   /* white background and box outline */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div
{
    /* we have to use !important because we are overwritng inline styles */
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    display: none !important;
}

/* image icon inside close button */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child
{
	-webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    display: none !important;
}

/* positioning of infowindow */
.gm-style-iw
{
    left: 18px !important;
	top: 72px !important;
	position: static !important;
}
.iw-container{
    margin-left: 34px !important;
    position: absolute !important;
    text-align: center !important;
    top: 64px !important;
    width: 15px !important;
}
