.container_market_price{
 	padding: 0 10px;
}
.container_market_price .bar_title{
	width: 368px;
	padding: 9px 0 9px 0;
	background: #d20a0a;
}
.normal_p{
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: bold;
}
.market_title{
	margin-left: 20px;
	color: #fff;
	font-size: 14px;
	vertical-align: middle;
	font-weight: bold;
}
.market_title i{
	font-size: 20px;
}
.data_radio{
	margin-top: 18px;
	 margin-left: 50px;
}
.container_market_price .p_top{
	margin-top: 20px;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: bold;
}

 input[type="radio"]:not(old){
   	display: none;
}

 input[type="radio"]:not(old) + label{
    background: url('/assets/img/icon/unchk_radio.png') no-repeat;
    height: 20px;
    display:inline-block;
    padding-left: 25px;
    padding-top: 1px;
}
input[type="radio"]:not(old):checked + label{
    background:  url('/assets/img/icon/chk_radio.png') no-repeat;
    height: 20px;
    display:inline-block;
    padding-left: 25px;
    padding-top: 1px;
}
.text_radio{
	font-size: 14px;
	color: #000000;
	letter-spacing: 2px;
}
.market_search{
	padding-top: 14px;
}
.table_market_price{
	margin-top: 40px;
}
.table_market_price .table_market{

}
.table_market_price .table_market{
	width: 100%;
	border-collapse: collapse;
}
.table_market_price .table_market .market_title{
	 background-color: #ecf0f1;
    color: #000;
    height: 30px;
    padding: 0 5px;
    text-align: left;
}
.table_market tr td{
	padding: 3px 0;
}
.table_market tr td .market_progress{
	 background-color: #bbe820;
    height: 17px;
   
}
.table_market .search .btnsearch{
	border: none;
	background-color: transparent;
	font-size: 12px;
	color: #d20a0a;
	cursor: pointer;
}