.content_pick_city{
	padding: 0 10px;
}
.pick_search{
	width: 80%;
	background: #d20a0a;
	margin: 0 auto;
	color: #FFF;
	font-size: 14px;
	padding: 14px 0;
	text-align: center;
	margin-bottom: 10px;
}
.count_list{
	text-align: center;
	font-size: 14px;
}
.count_list img{
	vertical-align: middle;
	margin-left: 10px;
}
.content_img_map{
	background: url('/assets/img/mobile/background/pick_city.jpg') no-repeat center center;
	width: 301px;
	margin: 0 auto;
	margin-top: 10px;
	height: 340px;
	margin-bottom: 10px;
}
.content_img_map div a{
	height: 24px;
	display: inline-block;
	width: 100%;
}
.link_tochigi{
	width: 94px;
	float: right;
	margin-top: 62px;
	margin-right: 79px;
}
.link_gunma{
	width: 94px;
	float: left;
	margin-top: 93px;
	margin-left: 20px;
}
.link_ibaraki{
	width: 94px;
	float: right;
	margin-top: 48px;
	margin-right: 25px;
}
.link_saitama{
	width: 94px;
	float: left;
	margin-top: 45px;
	margin-left: 50px;
}
.link_tokyo{
	width: 94px;
	float: left;
	margin-top: 56px;
	margin-right: -26px;
}
.link_kanagawa{
	width: 94px;
	float: left;
	margin-top: 14px;
	margin-left: 41px;
}
.link_chiba{
	width: 94px;
	float: right;
	margin-top: 21px;
	margin-right: 22px;
}
.link_tokyo a{
	margin-left: -25px;
}
.content_pick_mms{
	padding: 10px 20px;
	border: 1px solid #ecf0f1;
	border-bottom: none;
	font-size: 14px;
}
.content_pick_mms img{
	vertical-align: middle;
	margin-right: 15px;
}
.content_pick_mms a{
	text-decoration: none;
	color: #000;
	font-size: 14px;
}
.content_couple{
	border: 1px solid #ecf0f1;
} 
.content_couple table{
	width: 100%;
	border-collapse: collapse;
}
.content_couple table tr td{
	width: 50%;
	text-align: center;
	padding: 20px 0;
}
.content_couple table .tr_border{
	border-bottom: 1px solid #ecf0f1;
}
.content_couple table tr td:first-child{
	border-right: 1px solid #ecf0f1;
}
.text_couple{
	color:#ec008c;
	font-size: 14px;
}
.text_school{
	color:#00aeef;
	font-size: 14px;
}
.text_new_constr{
	color:#00a651;
	font-size: 14px;
}
.text_company{
	color:#a3620a;
	font-size: 14px;
}
.company_info{
	margin-top: 10px;
	border:1px solid #ecf0f1;
	padding: 20px;
}
.data_info{
	margin-bottom: 10px;
}
.data_info img{
	vertical-align: ;
	margin-right: 15px;
}
.data_info span{
	font-size: 14px;
}
.data_info a{
	text-decoration: none;
	font-size: 14px;
}
.skype a{
    color: #00aeef;
    cursor: pointer;
}
.viber a{
    color: #7b42aa;
    cursor: pointer;
}
.line a{
    color: #3ace01;
}