.content_login{
	width: 100%;
}
.block_button{
	padding: 10px;
	margin-bottom: 25px;
    text-align: center;
}
.text_login{
	 background: #ecf0f1 none repeat scroll 0 0;
    color: #000;
    display: inline-block;
    font-size: 13px;
    height: 35px;
    letter-spacing: 2px;
    line-height: 35px;
    text-transform: uppercase;
    width: 49%;
    float: left;
}
.text_login a{
    text-decoration: none;
    display: block;
    color: #000;
}
.text_register{
	background: #d20a0a none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    height: 35px;
    letter-spacing: 2px;
    line-height: 35px;
    text-transform: uppercase;
    width: 49%;
    float: right;
}
.text_register a{
    text-decoration: none;
    color: #fff;
}
.text_login:hover{
	background: #d20a0a none repeat scroll 0 0;
	
    cursor: pointer;
}
.text_login a:hover{
    color: #fff;
}
.title_sigin{
	margin-bottom: 10px;
}
.content_frm_register{
	width: auto;
	background: #ecf0f1 none repeat scroll 0 0;
	text-align: center;
    margin: 39px 8px;
}
.content_frm_register form{
    padding:35px 15px; 
}
.text_field{
	 border: medium none;
    font-size: 14px;
    height: 28px;
    text-indent: 10px;
    width: 100%;
}
.form_controll{
	margin-top: 15px;
    text-align: left;
}
.form_button{
	text-align: center;
	margin: auto;
}
.btn_go{
	margin-top: 25px;
	background: #d20a0a none repeat scroll 0 0;
    color: #fff;
    font-size: 13px;
    height: 35px;
    letter-spacing: 2px;
    line-height: 35px;
    text-transform: uppercase;
    border: none;
    width: 50%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
     -webkit-appearance: none;
}

.agree_privacy input[type="checkbox"] {
    display: none;
}
.agree_privacy input[type="checkbox"] + label {
    background: rgba(0, 0, 0, 0) url("/assets/img/icon/unc.png") no-repeat scroll 0 0;
    height: 17px;
    padding-left: 22px;
    padding-top: 1px;
}
.agree_privacy input[type="checkbox"]:checked + label {
    background: rgba(0, 0, 0, 0) url("/assets/img/icon/c.png") no-repeat scroll 0 0;
    height: 17px;
}
.agree_privacy{
    font-size: 13px;
    margin-top: 25px;
}
.already_acc{
    font-size: 13px;   
}
.go_login{
    text-decoration: none;
    color: #D20A0A;
}
.error{
    color: #d20a0a;
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
    padding-top: 5px;
    font-style: italic;
}
.error_prefix_check{
    color: #d20a0a;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
    font-style: italic;
}