
.content_step{
	padding: 10px;
}
.text_title{
	color: #d20a0a;
	font-size: 14px;
}
.text_description{
	font-size: 14px;
}
.step_img img{
	width: 100%;
}
.content_table_step{
	background-color: #ecf0f1;
    box-shadow: 0 5px 5px 0 #d6d6d6;
    margin-top: 17px;
    padding: 17px 10px;
    font-size: 14px;
}
.content_table_step table tr td span{
	color: #d20a0a;
    font-size: 14px;
}
