.video_list{
	padding: 0 10px;
}
.video_item{
	 box-shadow: -1px 3px 5px 1px #d6d6d6;
	 margin-bottom: 16px;
}
.video_item .video_image_title{
	padding: 0 10px 21px;
}
.video_item .video_image_title .video_image{
	width: 100%;
}
.video_image_title a{
	text-decoration: none;
	color: #d20a0a;
}
.video_image_title a:hover{
	color: #a50000;
}
.video_item .video_image_title .video_title{
	margin-top: 11px;

}
.video_360_degree{
	width: 100%;
}
.not_found{
	text-align: center;
	color: #d20a0a;
}
