
/* Header Style */

*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/font/montserrat/Montserrat-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
body{
	 font-family: 'Montserrat';
}
.contain_header{
	width: 100%;
	height: 150px;
}
.page_size{
	width: 1000px;
	margin: 0 auto;
}
.clear{
	clear: both;
}
.content_logo{
	padding-top: 10px;
	text-align: center;
}
.content_logo img{
	width: 170px;
	height: 100px;
}
.text_site{
	font-size: 18.58px;
}
.content_menu{
	padding-top: 10px; 
}
.left_bg{
	background: url('/assets/img/background/left_menu_bg.png') no-repeat;
	width: 25px;
	height: 50px;
	float: left;
}
.nav_menu{
	background: #ecf0f1;
	width: 922px;
	height: 50px;
	padding-right: 28px;
	float: left;
}
.right_bg{
	background: url('/assets/img/background/right_menu_bg.png') no-repeat;
	width: 25px;
	height: 50px;
	float: left;
}
.nav_menu .menu{
	float: left;
}
.nav_menu .menu ul{
	list-style: none;
}
.nav_menu .menu ul li{
	display: inline-block;
	padding-top: 14px;
}
.nav_menu .menu ul li a{
	font-size: 14px;
	color: #000;
	text-decoration: none;
	/*line-height: 50px;*/
	/*display: block;*/
	padding: 16px 28px;
	margin-top: -2px;
}
.nav_menu .menu ul li a:hover{
	background: #e5e5e5;
}
.login_register{
	float: right;
}
.login_register ul{
	list-style: none;
}
.login_register ul li{
	display: inline-block;
	padding-left: 23px;
	color: #d20a0a;
}
.login_register ul li a{
	font-size: 14px;
	color: #d20a0a;
	text-decoration: none;
	line-height: 50px;
}
.login_register ul li a.account_name{
	color: #000;
}
.login_register ul li .account_icon{
	color: #d20a0a; 
}
.login_register ul li a:hover{
	color: #F00;
	text-decoration: underline;
}
.login_register ul li a.account_name:hover{
	color: #000;
	text-decoration: underline;
}
.header_title{
	width: 100%;
	height: 125px;
	background: #eff3f9 url('/assets/img/background/bg_header.jpg') repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: 25px;
}
.header_title_text{
	padding-top: 61px;
	text-align: center;
	color: #FFF;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
}


/* Footer Style */

.content_contact{
	background: #d20a0a;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 271px;
	padding-top: 30px;
	margin-top: 25px;
}
.contact{
	height: 30px;
	background: #FFF;
	border-radius: 50px;
	box-shadow: 0 3px 5px rgba(50,50,50,0.5);
	padding: 8px 30px 0 30px;
}
.contact_left{
	float: left;
}
.contact_right{
	float: right;
}
.contact img{
	vertical-align: middle;
}
.contact span{
	font-size: 13px;
}
.email{
	margin-left: 20px;
}
.facebook{
	margin-right: 20px;
	color: #3b5998;
}
.skype{
	margin-right: 20px;
	color: #00aeef;
}
.viber{
	margin-right: 20px;
	color: #7b42aa;
}
.facebook a{
	color: #3b5998;
	text-decoration: none;
}
.facebook img{
	width: 17px;
	height: 17px;
}
.skype a{
	color: #00aeef;
	text-decoration: none;
}
.viber a{
	color: #7b42aa;
	text-decoration: none;
}
.line a{
	color: #3ace01;
	text-decoration: none;
}
.contac_info{
	text-align: center;
	background: #d20a0a;
	min-height: 271px;
}
.text_contact{
	font-size: 18px;
	color: #FFF;
	padding-top: 25px;
	letter-spacing: 3px;
}
.txet_des_contact{
	font-size: 14px;
	color: #FFF;
	padding-top: 20px;
	letter-spacing: 3px;
}
.form_email{
	padding-top: 25px;
}
.con_email{
	width: 290px;
	border: none;
	background: #a80808;
	height: 35px;
	padding-left: 10px;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 1px;
}
.btn_sub{
	width: 178px;
	border: none;
	background: #FFF;
	height: 35px;
	color: #000;
	margin-top: 20px;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 2px;
}
.btn_sub:hover{
	background: #CCC;
}
.content_footer_bottom{
	padding: 30px 0;
}
.footer_left{
	float: left;
	font-size: 13px;
}
.footer_right{
	float: right;
	font-size: 13px;
}
#wrap_footer{
	background-color: #d20a0a;
    height: 86px;
}

#wrap_footer .footer{
	margin: 0 auto;
    padding: 34px 0;
    width: 1000px;
}
.text_left{
	font-size: 14px;
	float: left;
	color: #ffffff;
}
.text_right{
	font-size: 14px;
	float: right;
	color: #ffffff;
}
.isa_error {
    background-color: #ffbaba;
    color: #d8000c;
}
.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0;
    padding: 8px;
    text-align: left;
    font-size: 14px;
    padding-left: 20px;
}


.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    font-size: 13px;
}
.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}


/*=== STYLE SIDEBAR ADMIN PAGE ====*/
.content_left{
	float: left;
	width: 240px;
	background: #ecf0f1;
	padding: 20px 0;
	margin-bottom: 25px;
}
.content_left .nav_list{
	width: 212px;
	margin: auto;
	text-align: center;
}
.nav_list .title{
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: bold;
}
.nav_list .agent_total{
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
}
.data_agent_empty{
	text-align: center !important;
}
.text_data_agent_empty{
	font-size: 12px;
	color: #888888;
}
.nav_list p {
	color: #d20a0a;
	font-size:14px;
	font-weight: bold;
}
.nav_list .nav_agent{
	margin-top:10px;
	background: #fff;
   -moz-box-shadow:     0 1px 0 0 #ccc;
   -webkit-box-shadow:  0 1px 0 0 #ccc;
   box-shadow:          0 1px 0 0 #ccc;
   text-align: left;
   cursor: pointer;
   height: 36px;
   padding: 0 !important;
}
.nav_agent a{
	text-decoration: none;
	color: #000000;
	display: inline-block;
	width: 100%;
	line-height: 34px;
	margin-top: 2px;
	padding-left: 12px;
}
.nav_agent span{
	font-size: 14px;
}
.icon_img{
	vertical-align: middle;
	margin-right: 3px;
}

.custom_icon{
	 color: #d20a0a;
    font-size: 20px;
    text-align: center;
    width: 20px;
}

@media only screen and (max-width: 1024px) {
    
	.header_title{
		width: 1000px;
	}
	.content_contact{
		width: 1000px;
	}
}


