.sidebar_menu h3{
    padding-top: 20px;
}
.sidebar_menu .tool_menu{
    margin-top: 20px;
}
.table_info tr td{
    padding: 5px 20px;
}
.button_edit_info{
    background-color: #d20a0a;
    border: 0 none;
    color: #ffffff;
    padding: 3px 14px;
    cursor: pointer;
}
.show_content_info{
    margin-top: 15px;
}
.content_info{
    border: 1px solid #ecf0f1;
    margin-bottom: 20px;
    padding-bottom: 146px;
    padding-left: 66px;
    padding-top: 34px;
}
.alert-info{
    margin-top: 0px;
}
.text_filed{
    border: 1px solid #ecf0f1;
    width: 229px;
    height: 23px;
}
.content_change_pwd{
    display: none;
}
.content_change_pwd table{
    width: 100%;
}
.lb_pwd{
    font-size: 12px;
    text-align: right;
}
.btn_pwd {
    background-color: #d20a0a;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    height: 25px;
    width: 80px;
}
.change_password {
    background-color: #d20a0a;
    border: medium none;
    border-radius: 13px;
    color: #ffffff;
    cursor: pointer;
    height: 25px;
    width: 140px;
    text-decoration: none;
    font-size: 14px;
    padding: 3px 10px;
}
.alert-message .alert{
    font-size: 12px;
    padding: 15px 10px;
    text-align: center;
    margin-bottom: 0;
}
.alert-message .alert-error{
    font-size: 12px;
    color: #D20A0A;
    background-color: rgba(215, 44, 34, 0.5);
}    
.error{
    font-size: 12px;
    color: red;
}