.container_agent .content_left{
	float: left;
	width: 240px;
	background: #ecf0f1;
	padding: 20px 0;
	margin-bottom: 25px;
}
.content_left .nav_list{
	width: 212px;
	margin: auto;
	text-align: center;
}
.nav_list .title{
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: bold;
}
.nav_list .agent_total{
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
}
.nav_list p {
	color: #d20a0a;
	font-size:14px;
	font-weight: bold;
}
.nav_list .nav_agent{
	margin-top:10px;
	padding: 7px 15px;
	background: #fff;
   -moz-box-shadow:     0 1px 0 0 #ccc;
   -webkit-box-shadow:  0 1px 0 0 #ccc;
   box-shadow:          0 1px 0 0 #ccc;
   text-align: left;
   cursor: pointer;
}
.nav_agent a{
	text-decoration: none;
	color: #000000;
}
.nav_agent span{
	font-size: 14px;
}
.icon_img{
	vertical-align: middle;
	margin-right: 3px;
}



.content_info{
	border: 1px solid #ecf0f1;
    margin-bottom: 20px;
    margin-top: 13px;
}
.content_link_edit{
	float: right;
}

.content_link_edit a{
	text-decoration: none;
	color: #FFF;
	background: #d20a0a;
	padding: 2px 7px;
	font-size: 12px;
}

.content_link_edit a:hover{
	opacity: 0.8;
}
.table_info{
	border-collapse: collapse;

}
.table_info tr{

}
.table_info tr td:first-child{
	width: 235px;
	text-align: center;
	background: #ecf0f1;
	font-size: 12px;
	padding: 5px 0;
}
.email{
	margin-left: 0;
}
.text-field{
	border: 1px solid #ecf0f1;
	width: 229px;
	height: 23px;
}
.skype_id{
	background-image: url("/assets/img/icon/skype.png");
    background-position: left center;
    background-repeat: no-repeat;
    border: 1px solid #ecf0f1;
    height: 23px;
    padding-left: 20px;
    width: 108px;
}
.viber_id{
	background-image: url("/assets/img/icon/viber.png");
    background-position: left center;
    background-repeat: no-repeat;
    border: 1px solid #ecf0f1;
    height: 23px;
    padding-left: 20px;
    width: 108px;
}
.line_id{
	background-image: url("/assets/img/icon/line.png");
    background-position: left center;
    background-repeat: no-repeat;
    border: 1px solid #ecf0f1;
    height: 23px;
    padding-left: 20px;
    width: 108px;
}
.add_sociel{
	margin-right: 13px;
}
.phone1{
	width: 129px;
	height: 23px;
	margin-right: 15px;
}
.phone2{
	width: 129px;
	height: 23px;
}
.location{
	width: 480px;
	height: 23px;
}
.add_agent{
	background-color: #d20a0a;
    border: medium none;
    color: #ffffff;
    font-size: 12px;
    height: 25px;
    width: 80px;
    cursor: pointer;
}
.upload_logo{
	display: none;
}
.require{
	color:#d20a0a ;
}
.error{
	color: red;
	font-size: 12px;
}
.jFiler-theme-dragdropbox{
	display: inline-block;
}
.jFiler-item-container{
	 margin-bottom: 0 !important;
}
.choose_image{
	background-color: #d20a0a;
    border: medium none;
    border-radius: 13px;
    color: #ffffff;
    height: 25px;
    width: 140px;
    cursor: pointer;
}
.table_info tr td:last-child{
	width: 470px;
	text-align: left;
	font-size: 12px;
	padding: 5px 20px;
}
.table_info tr td.text_des{
	vertical-align: top;
	padding-bottom: 81px;
}
.table_info tr td.logo_info{
	padding-top: 20px;
}
.table_info tr td.detail_des{
	vertical-align: top;
}
.change_password{
	background-color: #d20a0a;
    border: medium none;
    border-radius: 13px;
    color: #ffffff;
    cursor: pointer;
    height: 25px;
    width: 140px;
}
.btn_change_password{
	background-color: #d20a0a;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    height: 25px;
    width: 80px;
}
.btn_cancel{
	background-color: #d20a0a;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    height: 25px;
    width: 80px;
}
.alert-success-update-password{
	font-size: 12px;
}
.alert-error-update-password{
	font-size: 12px;
	color: #D20A0A;
	background-color: rgba(215, 44, 34, 0.5);
}
.table_change_password{
	width: 390px;
}
.table_change_password tr td.label_password{
	text-align: right;
	font-size: 12px;
}
.table_change_password tr td.label_confirm_password{
	text-align: right;
	font-size: 12px;
}
