.container{
	width: 100%;
}
.container .content_left{
	float: left;
	width: 240px;
	background: #ecf0f1;
	padding: 20px 0;
	margin-bottom: 25px;
}
.content_left .nav_list{
	width: 212px;
	margin: auto;
	text-align: center;
}
.nav_list .title{
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: bold;
}
.nav_list .agent_total{
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
}
.data_agent_empty{
	text-align: center !important;
}
.text_data_agent_empty{
	font-size: 12px;
	color: #888888;
}
.nav_list p {
	color: #d20a0a;
	font-size:14px;
	font-weight: bold;
}
.nav_list .nav_agent{
	margin-top:10px;
	padding: 7px 15px;
	background: #fff;
   -moz-box-shadow:     0 1px 0 0 #ccc;
   -webkit-box-shadow:  0 1px 0 0 #ccc;
   box-shadow:          0 1px 0 0 #ccc;
   text-align: left;
   cursor: pointer;
}
.nav_agent a{
	text-decoration: none;
	color: #000000;
}
.nav_agent span{
	font-size: 14px;
}
.icon_img{
	vertical-align: middle;
	margin-right: 3px;
}

.container .content_right{
	overflow: hidden;
	padding-left: 20px;
}
.content_right{

}
.content_right .blog_head_content{
	background-color: #ecf0f1;
    padding: 12px 30px;
}
.content_right .blog_head_content h3{
	font-size: 14px;
}
.blog_body_content .blog_content{
	border: 1px solid #ecf0f1;
}
.title_cate_source{
	width: 533px;
    margin-top: 13px;
    padding: 18px 21px;
    float: left;
}
.title_cate_source .d_field_text{
 margin-bottom: 27px;
}
.d_field_text .lb_title{
	display: block;
	font-size: 12px;
}
.d_field_text .field_text{
	width: 530px;
	height: 23px;
}
.d_field_dropdown .category{
	height: 25px;
    width: 130px;
}
.d_field_dropdown .source{
	 height: 23px;
    width: 255px;
}
.d_field_dropdown .lb_category{
	 font-size: 12px;
    margin-right: 5px;
}
.d_field_dropdown .lb_Source{
	font-size: 12px;
    margin-left: 17px;
    margin-right: 5px;
}
.text_body_content{
	padding: 10px 20px 22px;
}
.blog_body_content{
	 margin-bottom: 25px;
	 margin-top: 15px;
}
.lb_article{
	font-size: 12px;
	 float: left;
}
.d_button {
   margin-bottom: 48px;
    text-align: center;
}
.d_button .save_blog{
	 background-color: #d20a0a;
    border: medium none;
    color: #ffffff;
    height: 25px;
    width: 80px;
    cursor: pointer;
}
.part_category{
	float: left;
}
.error_source{
	margin-left: 77px;
}
.part_Source{
	overflow: hidden;
}
.require_field{
	color:#D20A0A;
}
.image_feature{
	overflow: hidden;
}
.jFiler-items-grid .jFiler-item .jFiler-item-container{
	margin: 0 !important;
	 padding: 10px 10px 0 !important;
}
.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-thumb{
	width: 125px !important;
	height: 90px !important;
	min-height: 90px !important;
}
.jFiler{
	height: 115px;
}
#upload_logo{
	display: none;
}
.error{
	font-size: 12px;
	color: #D20A0A;
}
.choose_image{
	background-color: #d20a0a;
    border: medium none;
    border-radius: 10px;
    color: #ffffff;
    height: 21px;
    width: 91px;
    cursor: pointer;
}
.d_image_change{
	float: right;
    margin-bottom: 8px;
    text-align: center;
    width: 148px;
}
.image_feature{
	padding-top: 26px;
}
.lb_feature_image{
	font-size: 12px;
}
.part_Source label.error{
	margin-left: 77px;
}