.container_blog{
	width: 100%;
}
.container_blog .content_left{
	float: left;
	width: 240px;
	background: #ecf0f1;
	padding: 20px 0;
	margin-bottom: 25px;
}
.content_left .nav_list{
	width: 212px;
	margin: auto;
	text-align: center;
}
.nav_list .title{
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: bold;
}
.nav_list .agent_total{
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
}
.data_agent_empty{
	text-align: center !important;
}
.text_data_agent_empty{
	font-size: 12px;
	color: #888888;
}
.nav_list p {
	color: #d20a0a;
	font-size:14px;
	font-weight: bold;
}
.nav_list .nav_agent{
	margin-top:10px;
	padding: 7px 15px;
	background: #fff;
   -moz-box-shadow:     0 1px 0 0 #ccc;
   -webkit-box-shadow:  0 1px 0 0 #ccc;
   box-shadow:          0 1px 0 0 #ccc;
   text-align: left;
   cursor: pointer;
}
.nav_agent a{
	text-decoration: none;
	color: #000000;
}
.nav_agent span{
	font-size: 14px;
}
.icon_img{
	vertical-align: middle;
	margin-right: 3px;
}
.blog_link{
	text-decoration: none;
	color: #D20A0A;
}
.container_blog .content_right{
	float: right;
	margin-bottom: 25px;
	width: 750px;
}
.contain_th{
	background: #d20a0a;
}
.th_name{
	width: 260px;
	padding: 9px;
	font-size: 14px;
	color:#fff;
	text-align: left;
}
.th_upload{
	width: 143px;
	padding: 9px;
	font-size: 14px;
	color:#fff;
	text-align: left;
}
.th_date{
	width: 227px;
	padding: 9px;
	font-size: 14px;
	color:#fff;
	text-align: left;
}
.th_action{
	width: 146px;
	padding: 9px;
	font-size: 14px;
	color:#fff;
	text-align: right;
}
.table_data{
	border: 1px solid #ecf0f1
}
.td_name{
	width: 260px;
	padding: 8px 9px;
	font-size: 12px;
	text-align: left;
	
}
.td_upload{
	width: 143px;
	padding: 8px 9px;
	font-size: 12px;
	text-align: left;
}
.td_date{
	width: 227px;
	padding: 8px 9px;
	font-size: 12px;
	text-align: left;
}
.td_action{
	width: 146px;
	padding: 8px 9px;
	font-size: 12px;
	text-align: right;
}
.span{
	color:#d20a0a;
	font-size: 14px;
}

.tr_data:nth-child(odd){
    background:#ecf0f1;
}
.tr_data:nth-child(even){
	background:#fff;
}
.btn_action{
	background: #d20a0a;
	border-radius: 25px;
	font-size: 12px;
	color: #fff;
	width: 95px;
	height: 22px;
	border:none;
	font-weight: bold;
	cursor: pointer;
}
.icon {
	vertical-align: middle;
	margin-left: 6px;
}
.icon_comapany{
	vertical-align: middle;
	width: 21px;
	height: 21px;
	margin-right: 7px;
} 

.ul_data{
	background: #d20a0a;
	width: 90px;
	z-index: 999;
	list-style: none;
	float: right;
	text-align: center;
	position: absolute;
	margin-left: 46px;
	display: none;
	margin-top: 1px;
}
.li_data{
	padding: 5px;
	cursor: pointer;
	color: #fff;
}
.li_data a{
	text-decoration: none;
	color: #FFFFFF;
}
.pagination {
    margin: 30px 0 20px;
    margin-top: 50px;
    text-align: center;
}
.pagination a {
    color: #000;
    padding: 0 15px;
    text-decoration: none;
}
.pagination a.link_active {
    color: #d20909;
}

.pagination .current {
    color: #d20909;
    padding: 0 15px;
}

.thumb_image{
	width: 165px;
	height: 124px;
}

.pagination a[rel="next"] {
    color: #d20909 !important;
}
.pagination a[rel="prev"] {
    color: #d20909 !important;
}
#popup_delete{
	display: none;
}
.popup_header{
	font-size: 14px;
	color: #000;
}
.popup_btn{
	float: right;
	margin-top: 51px;
}

.popup_submit{
	background: #d20a0a ;
	width: 100px;
	height: 25px;
	color: #fff;
	border:none;
	cursor: pointer;
}
.popup_cancel{
	background: #fff ;
	width: 100px;
	height: 25px;
	color: #000;
	border:none;
	cursor: pointer;
}