*{
	margin: 0;
	padding: 0;
}
html,body{
	margin: 0;
	font-family: 'Montserrat', sans-serif; 
}
#wrap_header{
 	margin-bottom: 30px;
}
#wrap_header .header{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}
#wrap_menu{
	background: rgba(0, 0, 0, 0) url("/assets/img/background/bg_header.jpg") no-repeat scroll center top;
    height: 125px;
}

.title_header_page{
  	color: #fff;
    font-size: 24px;
    letter-spacing: 2px;
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
}

.login_register{
	float: right;
}
.not_found_data{
	text-align: center;
}
.login_register ul{
	list-style: none;
	margin: 0;
}
.login_register ul li{
	display: inline-block;
	padding-left: 23px;
	color: #d20a0a;
}
.login_register ul li a{
	font-size: 14px;
	color: #d20a0a;
	text-decoration: none;
	line-height: 50px;
}
.login_register ul li a:hover{
	color: #F00;
	text-decoration: underline;
}
#wrap_content{
	width: 1000px;
	margin: 0 auto;
}
.sidebar{
	width: 240px;
	float: left;
}
.content{
	width: 747px;
	overflow: hidden; 
	padding-left: 13px;
}
.custom_icon_delete{
	color: #d20a0a;
}
.sidebar .sidebar_menu{
	height: 299px;
	background-color: #ecf0f1;
}
.sidebar_menu h3{
	padding-top: 27px;
    text-align: center;
}
.tool_menu{
	list-style: outside none none;
    padding: 0 15px;
    margin-top: 26px;
}
.account_name {
    color: #000000 !important;
}
.account_icon{
	color: #d20a0a;
}
.tool_menu li{
	background-color: #ffffff;
 	padding: 10px 15px;
	margin-top: 10px;
}
.tool_menu li a{
	text-decoration: none;
	color: #000000;
	font-size: 14px;
}

.tool_menu li a .tools_icon{
	color: #d20a0a;
}

.total_properties{
	text-align: center;
	padding-top: 0;
	font-size: 12px;
}

.number_items{
	text-align: center;
	display: block;
	color: #d20a0a;
	font-size: 18px;
}
.tool_search_select{
	background-color: #ecf0f1;
    padding: 7px 10px;
}
.select_all_tools{
	float: left;
    margin-left: 4px;
    margin-top: 5px;
}
.select_all_tools .select_all{
	margin-left: 15px;
	font-size: 12px;
}
.select_number{
	float: left;
    margin-left: 30px;
    margin-top: 5px;
    font-size: 12px;
    margin-top: 8px;
}
.button_delete{
	float: left;
    margin-left: 22px;
}
.button_delete .delete{
	background-color: #ffffff;
    border: 0 none;
    cursor: pointer;
    padding: 3px 23px;
    font-weight: bold;
}
.block_search .keyword{
	padding: 3px 2px;
    width: 117px;
} 
.block_search .button_search{
	background-color: #d20a0a;
    border: 0 none;
    color: #ffffff;
    padding: 4px 7px;	
}
.select_delete{
	float: left;
}
.select_search{
	float: right;
}

.conetent_items_lists{
	margin-top: 11px;
}

.wrap_data{
	float: left;
	margin-bottom: 10px;
}
.content_data{
	padding: 0 7px;
	background: #FFF;
	width: 165px;
	text-align: center;
	margin-left: 7px;
	padding-bottom: 5px;
	box-shadow: 0px 3px 7px #ccc;
	height: 265px;
	position: relative;
}
.wrap_data_feature{
	margin-left: -7px;
}
.data_currency{
	background: url('/assets/img/background/cercle.png') center center no-repeat;
	height: 34px;
	position: relative;
	margin-top: -30px;
	padding-top: 16px;
	color: #FFF;
	font-size: 14px;
	width: 50px;
	margin-left: 57px;
}
.data_title{
	padding-bottom: 12px;
}
.data_title a{
	color: #d20a0a;
	text-decoration: none;
	font-size: 14px;
}
.data_title a:hover{
	text-decoration: underline;
}
.ruler_bottom{
	height: 7px;
	background: #c20909;
	position: relative;
	width: 144px;
	margin-left: 24px;
}
.data_description{
	font-size: 12px;
}
.data_price{
	font-size: 12px;
}
.data_image:hover{
	opacity: 0.7;
}
.items_tools{
	margin-top: 23px;
}
.items_tools .tools_edit{
 	color: #000000;
    float: left;
    font-size: 12px;
    margin-left: 7px;
    text-decoration: none;
}
.select_items{
	left: 14px;
    position: absolute;
    top: 6px;
    z-index: 9;
}
.items_tools .tools_delete{
	color: #000000;
    float: right;
    font-size: 12px;
    margin-right: 7px;
    text-decoration: none;
    cursor: pointer;
}
.custom_icon_tools{
	font-size: 15px;
}
.custom_icon_edit{
	color: #00a651;
}
.custom_icon_delete{
	color: #d20a0a;
}
.pagination {
    margin: 30px 0 20px;
    margin-top: 50px;
    text-align: center;
}
.pagination a {
    color: #000;
    padding: 0 15px;
    text-decoration: none;
}
.pagination a.link_active {
    color: #d20909;
}

.pagination .current {
    color: #d20909;
    padding: 0 15px;
}

.thumb_image{
	width: 165px;
	height: 124px;
}

.pagination a[rel="next"] {
    color: #d20909 !important;
}
.pagination a[rel="prev"] {
    color: #d20909 !important;
}
.clear{
	clear:both;
}

.alert strong {
    font-weight: 700;
}
#popup_delete{
	display: none;
}
.popup_header{
	font-size: 14px;
	color: #000;
}
.popup_btn{
	float: right;
	margin-top: 51px;
}

.popup_submit{
	background: #d20a0a ;
	width: 100px;
	height: 25px;
	color: #fff;
	border:none;
	cursor: pointer;
}
.popup_cancel{
	background: #fff ;
	width: 100px;
	height: 25px;
	color: #000;
	border:none;
	cursor: pointer;
}