

.content_info{
	border: 1px solid #ecf0f1;
    margin-bottom: 20px;
    margin-top: 13px;
}
.content_link_edit{
	float: right;
}

.content_link_edit a{
	text-decoration: none;
	color: #FFF;
	background: #d20a0a;
	padding: 2px 7px;
	font-size: 12px;
}

.content_link_edit a:hover{
	opacity: 0.8;
}
.table_info{
	border-collapse: collapse;

}
.table_info tr{

}
.table_info tr td:first-child{
	width: 235px;
	text-align: center;
	background: #ecf0f1;
	font-size: 12px;
	padding: 5px 0;
}
.table_info tr td:last-child{
	width: 470px;
	text-align: left;
	font-size: 12px;
	padding: 5px 20px;
}
.table_info tr td.text_des{
	vertical-align: top;
	padding-bottom: 81px;
}
.table_info tr td.logo_info{
	padding-top: 20px;
}
.table_info tr td.detail_des{
	vertical-align: top;
}
