
.table_properties{
	width: 1000px;
	border-collapse: collapse;
}
.table_properties_info{
	width: 1000px;
	border-collapse: collapse;
	border: none;
	margin-top: 30px;
}
.table_properties_info .td_label{
	padding: 9px 16px;
	border: 1px solid #ecf0f1;
}
.table_properties_info .tb_input_add{
	padding: 9px 16px;
	border: 1px solid #ecf0f1;
}

.wrapper_table {
	border: none !important;
	padding: 0;
	width: 50%;
}

.table_properties_info .td_info {
    border: 1px solid #ecf0f1;
    padding: 9px 16px;
}
.table_properties_info .table_info{
	border-collapse: collapse;
	border: none;
	width: 100%;
}
.table_properties_info  tr td{

}
/*======= form =======*/
.text-field{
	padding: 2px 0;
    width: 302px;
}
.select-field{
	width: 303px;
	height: 24px;
}
.tb_input{
	width: 196px;
}
table.feature{
	border-collapse: collapse;
}
table.feature tr td{
	border: none;
	padding: 3px 10px;
}
.size{
	width: 277px;	
}
.td_label{
	background-color: #ecf0f1;
	color: #838585;
	width: 128px;
	font-size: 12px;
}
.text_label{
	font-size: 12px;
	padding-left: 14px;
}
.error{
	color: red;
	font-size: 12px;
}
.perfecture{
	width: 144px;
}
.city{
	width: 139px;
	margin-left: 15px;
}
.additional_details_tool{
	display: none;
}
.btn_back{
	float: left;
    margin-top: 5px;
    border: 1px solid #ECF0F1;
    padding: 7px 18px;
    text-decoration: none;
    color: #000000;
}
.custom_icon{
	color:#D2102C;
}
.price{
	width: 224px;	
}
.buy_price{
	width: 224px;	
}
.currency{
	width: 71px;
}
.nearest_station{
	width: 200px;
}
.buy_nearest_station{
	width: 170px;
}
.distance_to_statition{
	width: 126px;
} 
.required_field{
	color: #D20A0A;
}
.lbl_status{
	color: #838585;
	padding: 5px;
	font-size: 12px;
}
.lbl_description{
	margin-left:3px;
	font-size: 12px;
}
.lbl_year{
	 font-size: 12px;
    margin-left: 16px;
}
.description{
	margin-left: 80px;
}
.description_1{
	margin-top: 10px;
	margin-left: 4px;
}
.description_2{
	margin-left: 102px;
}
.description_3{
	margin-left: 103px;
}
.description_6{
	margin-left: 88px;
}
.table_properties tr{

}
/*.table_properties_info tr td{
	padding: 9px 16px;
	border: 1px solid #ecf0f1;
}*/
.table_properties tr td{
	padding: 9px 16px;
	border: 1px solid #ecf0f1;
}

.block_list_properties_type{
	text-align: center;
    margin-bottom: 25px;
    margin-top: 30px;
}
.properties_type_radio{
	display: none;
}


.custom_properties_type_icon{
	font-size: 19px;
	color:#D20A0A;
}
.list_properties_type{
	list-style: outside none none;
    display: inline-block;
}
.list_properties_type li{
	border: 1px solid #ecf0f1;
    cursor: pointer;
    float: left;
    padding: 7px 70px;
}
.list_properties_type li.active{
	background-color: #ecf0f1;
}
.properties_type{
 	text-transform: uppercase;
 	 font-size: 12px
}
.tab-content{
	display: none;
}
.tab-content.current{
	display: inherit;
}
.choose_image_upload{
	background-color: #d20a0a;
    border: 0 none;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
}
.choose_image{
	background-color: #d20a0a;
    border: 0 none;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
}
.rent_choose_image{
	background-color: #d20a0a;
    border: 0 none;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
}
.lbl_sellect_all{
	margin-left: 10px;
	margin-right: 90px;
	font-size: 12px;
}
.lbl_size{
	font-size: 12px;
	margin-left: 5px;
}
.list_image_upload{
	 float: left;
    margin-right: 10px;
    width: 166px;
    margin-bottom: 10px;
    list-style: none;
}
.img_list img{
	width: 100%;
	height: 124px;
}
.check_img_upload{
	 margin-top: 5px;
    margin-left: 5px;
    position: absolute;
}
.delete_image{
	background-color: #d20a0a;
    border: 0 none;
    border-radius: 10px;
    color: #ffffff;
    padding: 3px 10px;
    cursor: pointer;
}
.upload_video_id{
	background-color: #d20a0a;
    border: 0 none;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
}
.video_id{
	height: 27px;
    width: 230px;
}
.field_video_image{
	margin-bottom: 10px;
}
.delete_image_update{
	background-color: #d20a0a;
    border: 0 none;
    border-radius: 10px;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
}
.lbl_primary{
	margin-left: 5px;
	font-size: 12px;
}
.delete{
	background-color: #d20a0a;
    border: 0 none;
    border-radius: 10px;
    color: #ffffff;
    padding: 2px 8px;
    cursor: pointer;
    float: right;
}
.latitude{
	float: left;
	margin-right: 50px;
	font-size: 12px;
}
.lbl_latitude{
	color: #737373;
}
.lbl_longitude{
	color: #737373;
}
.reset{
	color: #d20a0a;
    float: right;
    font-size: 12px;
    text-decoration: none;
}
.longitude{
	float: left;
	font-size: 12px;
}
.labal_additional{
	background-color: #ecf0f1;
    padding: 15px 0;
    text-align: center;
    font-size: 12px;
}
.btn_arrow .img_arrow{
	display: none;
}
.tb_input_add{
	width: 295px;
}
.maintainace_fee{
	width: 217px;	
}
.per_month{
	width: 113px;
}
.tools_save_cancel{
	margin-top: 28px;
	margin-bottom: 43px;
	text-align: center;
}
.btn_save{
	background-color: #d20a0a;
    border: 0 none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    margin-right: 10px;
    padding: 6px 51px;
}
.btn_cancel{
	background-color: #ecf0f1;
    border: 0 none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
  padding: 6px 51px;
}
.btn_arrow{
	margin-left: 12px;
	cursor: pointer;
}
#file_image{
	display: none;
}

#file_image1{
	display: none;	
}
#rent_file_image{
	display: none;
}
#rent_file_image1{
	display: none;
}
.MultiFile-remove{
	background-color: #d20a0a;
    border-radius: 5px;
    color: #fff;
    padding: 3px 6px;
    font-size: 11px;
}

.per_month {
    width: 80px;
}
.content_check{
	float: right;
}
.td_choose{
	width: 600px;
	vertical-align: top;
}
.delete_select{
	float: left;
}
.floor_label{
	font-size: 12px;
	padding: 10px 0;
	text-align: center;
}
.content_floor_plan{
	margin-right: 15px;
	margin-top: 10px;
}
.floor_img{
	width: 150px;
	height: 110px;
}
.img_floor_upload{
	background: #d20a0a;
	cursor: pointer;
	padding: 2px 18px;
	border-radius: 20px;
	border: none;
	color: #FFF;
	margin-left: 15px;
}
.choose_img_floor{
	background: #d20a0a;
	cursor: pointer;
	padding: 2px 18px;
	border-radius: 20px;
	border: none;
	color: #FFF;
	margin-left: 15px;
}
.rent_choose_img_floor{
	background: #d20a0a;
	cursor: pointer;
	padding: 2px 18px;
	border-radius: 20px;
	border: none;
	color: #FFF;
	margin-left: 15px;
}
.td_choose_floor{
	vertical-align: top;
}
.content_floor_img{
	width: 150px;
	height: 110px;
	margin: 0 auto;
	margin-bottom: 10px;
	background: #ecf0f1;
}
.upload_floor_img{
	display: none;
}
.rent_upload_floor_img{
	display: none;
}
.upload_img_left{
	float: left;
	width: 600px;
	border-right: 1px solid #ecf0f1;
	margin-top: -10px;
	padding-top: 10px;
	padding-right: 10px;
	margin-bottom: -10px;
	min-height: 188px;
}
.icon_status{
	vertical-align: middle;
	margin-right: 10px;
}
#short_file_image{
	display: none;
}
#short_file_image1{
	display: none;
}
#short_upload_floor_img{
	display: none;
}
.content_select{
	margin-top: 10px;
}
.floor_content{
	margin-top:20px;
}
.text_floor_plan{
	font-size: 12px;
	float: left;
	margin-left: 45px;
}