.info_agent{
	width: 403px;
	float: left;
	background: #ecf0f1;
	padding: 15px;
}
.properties_agent{
	width: 557px;
	float: right;
}
.info_detail{
	width: 100%;
	background: #FFF;
	text-align: center;
	box-shadow: 0px 5px 7px #ccc;
}
.info_detail .logo_agent{
	width: 182px;
	height: 142px;
	margin: 0px auto;
	padding: 15px 0;
}
.info_detail .logo_agent img{
	width: 182px;
	height: 142px;
}
.agent_name{
	font-size: 14px;
	text-transform: uppercase;
	color: #d20a0a;
	padding-bottom: 15px;
}
.agent_social_media{
	padding: 0 15px 15px 15px;
}
.agent_social_media img{
	vertical-align: middle;
}
.agent_social_media span{
	font-size: 13px;
}
.agent_email{
	padding-bottom: 15px;
}
.agent_email img{
	vertical-align: middle;
}
.agent_email span{
	font-size: 13px;
}
.agent_phone span{
	font-size: 13px;
}
.phone1{
	margin-right: 30px;
}
.agent_office_location{
	text-align: left;
	font-size: 13px;
	padding: 15px;
}
.title_red{
	color: #d20a0a; 
}
.agent_description{
	text-align: left;
	font-size: 13px;
	padding: 0 15px 15px 15px;
}
.agent_description .description{
	line-height: 23px;
}
.info_agent .red_ruler{
	width: 377px;
	margin: 0 auto;
	background: #c00909;
	height: 13px;
	box-shadow: 0px 5px 7px #ccc;
}
.text_count{
	padding: 10px 15px;
	background: #ecf0f1;
	font-size: 14px;
}
.text_count span{
	color: #d20a0a;
}
.agent_wrap_data{
	padding-top: 10px;
	margin-left: -7px;
}
.wrap_data{
	float: left;
	margin-bottom: 7px;
}
.content_data{
	width: 165px;
	margin-left: 7px;
	padding: 0 8px 5px 8px;
	box-shadow: 0px 5px 7px #ccc;
	text-align: center;
	height: 265px;
}
.wrap_data .data_image{
	width: 100%;
	height: 124px;
}
.wrap_data .data_image img{
	width: 100%;
	height: 100%;
}
.wrap_data .data_image img:hover{
	opacity: 0.8;
}
.data_currency {
    background: url('/assets/img/background/cercle.png') center center no-repeat;
    height: 34px;
    position: relative;
    margin-top: -26px;
    padding-top: 16px;
    color: #FFF;
    font-size: 14px;
    width: 50px;
    margin-left: 57px;
}
.count_view {
    position: relative;
    background: rgba(255,255,255,0.7);
    padding: 6px 8px;
    margin-top: -120px;
    font-size: 14px;
    z-index: 1;
    float: right;
}
.count_view .num_count {
    color: #d20a0a;
}
.data_title a {
    color: #d20a0a;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}
.data_title a:hover {
    text-decoration: underline;
}
.data_description {
    font-size: 12px;
    padding-top: 10px;
}
.data_price {
    font-size: 12px;
}
.ruler_bottom {
    height: 7px;
    background: #c20909;
    position: relative;
    width: 144px;
    margin-left: 24px;
}
.not_found{
	text-align: center;
	color: #d20a0a;
}
.pagination{
	margin: 30px 0 20px 0;
	text-align: center;
}
.pagination a{
	text-decoration: none;
	padding: 0 15px;
	color: #000;
}
.pagination a.link_active{
	color: #d20909;
}
.pagination a.link_active:hover{
	text-decoration: underline;
}
.pagination a[rel="prev"]{
	color: #d20909;
}

.pagination a[rel="next"]{
	color: #d20909;
}
.pagination a[rel="prev"]:hover{
	text-decoration: underline;
}

.pagination a[rel="next"]:hover{
	text-decoration: underline;
}
.pagination .current{
	color: #d20909;
	padding: 0 15px;
}
.pagination a:hover{
	color: #d20909;
}