.content_blog{
	background: #ffffff;
	width: 100%;
	min-height: 600px;
	padding-bottom: 10px;
}
.blog_data{
	background: #FFF;
}
.blog_data_left{
	width: 750px;
	float: left;
}
.blog_data_right{
	width: 240px;
	float: right;
}

.blog_link{
	padding: 5px 0 20px 0; 
    text-align: center;
}
.blog_link span{
	margin-right: 8px;
}
.blog_link span a{
	text-decoration: none;
	color: #000;
	line-height: 40px;
	padding: 5px 15px;
	background: #ecf0f1;
}
.blog_link span a:hover{
	background: #d20a0a;
	color: #FFF;
}

.content_data_blog{
	padding: 5px 10px 5px 0;
	background: #ecf0f1;
	margin-bottom: 10px;
}
.data_image_blog{
	width: 100%;
}
.data_image_blog img{
	width: 100%;
	height: 388px;
}
.blog_title{
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.blog_date{
	font-size: 12px;
	color: #d20a0a;
	padding: 5px 0 10px 0;
}
.blog_description{
	font-size: 12px;
	line-height: 22px;
	padding-top: 10px;	
}
.blog_description *:first-child::first-letter{
	font-size: 54px;
	color: #d20a0a;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: -1px;
	line-height: 40px;
}
.blog_description img{
	max-width: 750px !important;	
}
.data_right_blog img{
	margin-bottom: 3px;
	width: 100%;
}
.data_right_blog img:hover{
	opacity: 0.8;
}
.more_blog{
	padding: 20px 0;
}
.more_blog a{
	text-decoration: none;
	color: #000;
	font-size: 14px;
	line-height: 30px;
	padding: 8px 25px;
	background: #ecf0f1;
	text-transform: uppercase;
}
.more_blog a:hover{
	color: #000;
	background: #dde0e1;
}
.source span{
	font-size: 14px;
}
.text-source{
	color: #d20a0a;
}
.our_service{
	text-align: center;
	background: url('/assets/img/background/bg_service.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 322px;
	margin-bottom: 10px;
}
.text_service{
	padding: 25px 0;
	font-size: 18px;
}
.link_short_stay{
	text-decoration: none;
	color: #000;
}
.buy_service{
	float: left;
	text-align: center;
	margin-left: 37px;
	margin-top: 25px;
}
.rent_service{
	float: right;
	text-align: center;
	margin-right: 37px;
	margin-top: 25px;
}
.not_found{
	text-align: center;
	color: #d20a0a;
}
