.content_blog{
	background: #ffffff;
	width: 100%;
	min-height: 600px;
	padding-bottom: 10px;
}
.blog_text{
	text-align: center;
	font-size: 18.02px;
	padding-top: 40px;
}
.blog_link{
	text-align: center;
	padding: 20px 0 30px 0;
}
.blog_link span{
	margin-right: 8px;
}
.blog_link span a{
	text-decoration: none;
	color: #000;
	line-height: 40px;
	padding: 5px 15px;
	background: #ecf0f1;
}
.blog_link span a:hover{
	background: #d20a0a;
	color: #FFF;
}
.blog_link span a.blog_link_active{
	background: #d20a0a;
	color: #FFF;
}
.blog_data{
	background: #FFF;
}
.blog_data_left{
	width: 750px;
	float: left;
}
.blog_data_right{
	width: 240px;
	float: right;
}
.blog_data_right img:hover{
	opacity: 0.8;
}
.content_data_blog{
	padding: 5px 10px 5px 0;
	background: #ecf0f1;
	margin-bottom: 10px;
}
.data_image_blog{
	float: left;
	width: 210px;
	height: 109px;
}
.data_image_blog img{
	width: 210px;
	height: 109px;
}
.data_image_blog:hover{
	opacity: 0.7;
}
.data_description_blog{
	float: left;
	background: #FFF;
	width: 550px;
	margin-top: 5px;
	margin-left: -30px;
	position: relative;
	padding: 5px;
	height: 89px;
	box-shadow: 0px 3px 3px #c6c9ca;
}
.blog_title{
	font-size: 14px;
}
.blog_date{
	font-size: 12px;
	color: #d20a0a;
	padding-bottom: 5px;
}
.blog_description{
	font-size: 12px;
}
/*.blog_description *{
	float: left;
}*/
.blog_description span a{
	color: #1e88e5;
	text-decoration: none;
}
.blog_description span a:hover{
	color: #1e88e5;
	text-decoration: underline;
}
.more_blog{
	text-align: center;
	padding: 20px 0;
}
.more_blog a{
	text-decoration: none;
	color: #000;
	font-size: 14px;
	line-height: 30px;
	padding: 8px 25px;
	background: #ecf0f1;
}
.more_blog a:hover{
	color: #000;
	background: #dde0e1;
}
.data_right_blog img{
	margin-bottom: 3px;
	width: 100%;
}
.our_service{
	text-align: center;
	background: url('/assets/img/background/bg_service.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 322px;
	margin-bottom: 10px;
}
.text_service{
	padding: 25px 0;
	font-size: 18px;
}
.link_short_stay{
	text-decoration: none;
	color: #000;
}
.buy_service{
	float: left;
	text-align: center;
	margin-left: 37px;
	margin-top: 25px;
}
.rent_service{
	float: right;
	text-align: center;
	margin-right: 37px;
	margin-top: 25px;
}
.our_service a:hover{
	text-decoration: underline;
	opacity: 0.8;
}
.pagination{
	margin: 30px 0 20px 0;
	text-align: center;
}
.pagination a{
	text-decoration: none;
	padding: 0 15px;
	color: #000;
}
.pagination a.link_active{
	color: #d20909;
}
.pagination a.link_active:hover{
	text-decoration: underline;
}
.pagination a[rel="prev"]{
	color: #d20909;
}

.pagination a[rel="next"]{
	color: #d20909;
}
.pagination a[rel="prev"]:hover{
	text-decoration: underline;
}

.pagination a[rel="next"]:hover{
	text-decoration: underline;
}
.pagination .current{
	color: #d20909;
	padding: 0 15px;
}
.pagination a:hover{
	color: #d20909;
}
.not_found{
	text-align: center;
	color: #d20a0a;
}
