
.content_menu_city{
	text-align: center;
	padding-bottom: 25px;
}
.content_menu_city a{
	padding: 8px 25px;
	background: #ecf0f1;
	font-size: 14px;
	text-decoration: none;
	color: #000;
	margin: 0 2px;
	line-height: 35px;
	cursor: pointer;
	text-transform: uppercase;
}
.content_menu_city a:hover{
	background: #d20a0a;
	color: #FFF;
}
.content_menu_city a.current{
	background: #d20a0a;
	color: #FFF;
}
.tab-content{
	display: none;
}
.tab-content.current{
	display: inherit;
}
.content_full_check{
	border: 1px solid #ecf0f1;
	margin-bottom: 15px;
}
.content_img_map{
	width: 172px;
	background: #ecf0f1;
	text-align: center;
	vertical-align: middle;
	float: left;
}
.content_img_map p{
	font-size: 14px;
}
.c_tokyo{
	min-height: 310px;
}
.img_map_tokyo{
	min-height: 616px;
}
.map_tokyo{
	padding-top: 255px;
}
.c_kanagawa{
	min-height: 280px;
}
.img_map_kanagawa{
	min-height: 310px;
}
.map_kanagawa{
	padding-top: 100px;
}
.c_saitama{
	min-height: 506px;
}
.img_map_saitama{
	min-height: 506px;
}
.map_saitama{
	padding-top: 200px;
}
.c_chiba{
	min-height: 476px;
}
.img_map_chiba{
	min-height: 476px;
}
.map_chiba{
	padding-top: 155px;
}
.c_ibaraki{
	min-height: 448px;
}
.img_map_ibaraki{
	min-height: 448px;
}
.map_ibaraki{
	padding-top: 138px;
}
.c_tochigi{
	min-height: 280px;
}
.img_map_tochigi{
	min-height: 280px;
}
.map_tochigi{
	padding-top: 72px;
}
.c_gunma{
	min-height: 252px;
}
.img_map_gunma{
	min-height: 252px;
}
.map_gunma{
	padding-top: 54px;
}
.content_check{
	float: left;
	padding: 27px;
	width: 765px
}
.content_check table{
	width: 100%;
}
.content_check table tr td{
	width: 33.3333%;
}
.content_check table tr td label span{
	color: #d20a0a;
}
.content_check table tr td input[type="checkbox"] {
    display: none;
}
.content_check table tr td input[type="checkbox"]+label {    
    background: url('/assets/img/icon/unc.png') no-repeat;
    height:17px;
    padding-left: 22px;
    padding-top: 1px;
	line-height: 26px;
	font-size: 14px;
}
.content_check table tr td input[type="checkbox"]:checked + label {
    background: url('/assets/img/icon/c.png')  no-repeat;
    height:17px;
}
.content_btn_city{
	padding-top: 8px;
	padding-bottom: 38px;
	text-align: center;
}
.content_btn_city .btn_go_city{
	background: #d20a0a;
	border: none;
	color: #FFF;
	padding: 10px 55px;
	cursor: pointer;
	font-size: 14px;
	letter-spacing: 2px;
}
.content_btn_city .btn_go_city:hover{
	font-weight: bold;
	opacity: 0.8;
}