
.title_detail{
	border: 1px solid #ecf0f1;
    height: 32px;
    padding: 9px 0 0 18px;
}

.title_detail a{
	text-decoration: none;
	cursor: pointer;
}
a #back_link{
	cursor: pointer;
}
.arrow_img{
	vertical-align: middle;
}
.back_text{
	font-size: 14px;
	color: #000000;
	margin-left: 5px;
	cursor: pointer;
}
.title_rigth{
	text-align: center;
	padding: 0;
	margin-top: -20px;
}
.title{
	font-size: 14px;
	color: #d20a0a;
}

.container_content{
	width: 100%;
	margin-top:13px;
}
.container_content .container_left{
	width: 750px;
	float: left;
}
.container_content .container_left .content_left_detail{
 	width: 477px;
 	float: left;
}
.container_content .content_right{
 	float: right;
 	width: 240px;
 }

.content_left_detail .main_img{
	width: 477px;
	height: 358px;
}
.container_main a {
	text-decoration: none;
}
.thumb a {
	text-decoration: none;
}
.title_map{
	border: 1px solid #ecf0f1;
    height: 32px;
    padding: 9px 0 0 18px;
    margin-top: 14px;
    text-align: center;
}
#map{
	width: 100%;
	height: 283px;
	margin-top: 10px;
}
.content_video{
	width: 100%;
	height: 283px;
	margin-top: 10px;
}
.contain_feature{
	margin: 15px 0 0 0;
	padding: 0;
	margin-left: -7px;
}
.contain_feature ul{
	list-style: none;
	width: 161px;
	float: left;
}
.contain_feature input[type="checkbox"] {
    display: none;
}
.contain_feature input[type="checkbox"]+label {    
    background: url('/assets/img/icon/unc.png') no-repeat;
    height:17px;
    padding-left: 22px;
    padding-top: 1px;
}
.contain_feature input[type="checkbox"]:checked + label {
    background: url('/assets/img/icon/c.png')  no-repeat;
    height:17px;
}
.text_feature{
	font-size: 12px;
	color: #000;
}
.left_description{
	margin-top: 20px;
	padding: 15px 15px;
	font-size: 12px;
	color: #000;
	border: 1px solid #ecf0f1;
}
.left_description p{
	line-height: 20px;
}
.container_content .container_thumb{
	width: 268px;
	float: left;
	margin-left: 5px;
	padding-top: 2px;
}
.container_thumb .inner_thumb{
	min-height: 363px;
	margin-left: 6px;
}
.contain_info_detail{
	width: 260px;
	margin:auto;
	margin-top: 12px;
}

.contain_info_detail .header_detail{
    height: 32px;
    padding: 9px 0 0 10px;
    background: #d20a0a;
    text-align:center;
    color: #ffffff;
    font-size: 14px;
}
.contain_info_detail .info_detail{
	border: 1px solid #ecf0f1;
	padding-bottom: 15px;
}
.contain_info_detail .td_left{
  width: 50%;
  text-align: right;
  font-size: 12px;
  color: #adadad;
  vertical-align:top;
  padding:3px 0 3px 3px; 
}
.contain_info_detail .color_red{
	color: #d84747;
} 
.contain_info_detail .td_right{
  width: 50%;
  text-align: left;
  font-size: 12px;
  vertical-align:top;
  padding:3px 0 3px 3px; 
}

.contain_info_detail .additional_detail{
	height: 32px;
    padding: 9px 0 0 10px;
    background: #ecf0f1;
    text-align:center;
    color: #000;
    font-size: 14px;
}
.contain_info_detail .info_additional_detail{
	border: 1px solid #ecf0f1;
	padding-bottom: 15px;
}
.contain_info_detail .info_additional_detail table{
	width: 100%;
}
.contain_info_detail .info_additional_detail .add_td_left{
  width: 57%;
  text-align: left;
  font-size: 12px;
  color: #adadad;
  vertical-align:top;
  padding:3px 0 3px 3px; 
}

.contain_info_detail  .info_additional_detail .add_td_right{
  width: 45%;
  text-align: right;
  font-size: 12px;
  vertical-align:top;
  padding:3px 0 3px 3px;  
}

.container_thumb .thumb img{
	width: 84px;
	height: 84px;
}


.company_info{
	padding-top: 26px;
	border: 1px solid #ecf0f1;
}
.logo_company{
	height: 105px;
	width: 107px;
	margin:auto;
}
.contact_info{
	margin: auto;
	text-align: center;
	margin-top: 15px;

}
.contact_img{
	width: 32px;
	height: 32px;
	margin-left: 8px;
}
.company_name{
	color:#d20a0a;
	font-size: 14px;
	margin-top:10px;
	text-align: center;
}
.company_name .agent_link{
	color:#000000;
	text-decoration: none;
}
.contact_detail{
 margin-left: 15px;
}
.contact_other{
	margin-top: 15px;
}
.contact_text{
	font-size: 14px;
	color: #000000;
}
.description{
	width: 217px;
	margin:auto;
	border-top: 1px solid #ecf0f1;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	padding-top:16px;
	cursor: pointer;
}
.title_descr{
	font-size: 12px;
	font-weight: bold;
	color: #000;
}
.description .text_description{
	text-align: left;
	font-size: 12px;
	display: none;
}

.contain_inquire{
	margin-top: 9px;
	background: #ecf0f1;
	text-align: center;
	padding: 20px 0 25px 0;
}
.contain_inquire .inquire_title{
	font-size: 14px;
	color: #d20a0a;
}
.contain_inquire form{
	margin-top: 20px;
    width: 233px;
    margin: auto;
}
.form_controll{
	height: 27px;
	width: 212px;
	margin-bottom: 5px;
	text-indent: 7px;
	border: none;
}
.textarea_controll{
	height: 27px;
	width: 212px;
	margin-bottom: 5px;
	text-indent: 7px;
	border: none;
	height: 80px;
	resize: none;
}

form input[type="checkbox"] {
    display: none;
}
form input[type="checkbox"]+label {    
    background: url('/assets/img/icon/unc.png') no-repeat;
    height:17px;
    padding-left: 22px;
    padding-top: 1px;
}
form input[type="checkbox"]:checked + label {
    background: url('/assets/img/icon/c.png')  no-repeat;
    height:17px;
}
.contain_agree{
	padding: 10px 10px 15px 10px;
	text-align: left;
	float: left;
}
.text_agree{
	font-size: 12px;
}
.contain_agree span{
	margin-left: 0;
}
.contain_submit{
	width: 150px;
	height: 33px;
	background: #d20a0a;
	font-size: 14px;
	color:#ffffff;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

.data_right_top{
	margin-top: 10px;
	text-align: center;
	background:url('/assets/img/background/bg_service.jpg') no-repeat center center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.text_our_service{
	font-size: 18px;
	padding-bottom: 30px;
}
.service_img{
	height: 49px;
	padding-top: 18px;
	background: url('/assets/img/background/cercle_big.png') no-repeat center center;
	color: #FFF;
	font-size: 24px;
	font-weight: bold;
}
.service_text{
	font-size: 16px;
	padding-bottom: 20px;
}
.buy_rent_left{
	float: left;
	width: 66px;
	margin-left: 22px;
}
.buy_rent_right{
	float: right;
	width: 66px;
	margin-right: 22px;
}
.data_right_bottom{
	margin-top: 15px;
}
.container_similar{
	width: 100%;
	margin-top: 28px;
	float: left;
}
.similar_place_bar{
	border: 1px solid #ecf0f1;
    height: 32px;
    padding: 14px 0 0 18px;
}

.similar_place_title_left{
	float: left;
	font-size: 14px;
	color:#d20a0a;

}
.similar_place_title_right{
	float: right;
	font-size: 14px;
	color:#000;
	padding-right: 20px;
	cursor: pointer;
}
.wrap_data_feature{
	margin-left: -7px;
	margin-top: 30px;
}
.wrap_data{
	float: left;
	margin-bottom: 10px;
}
.content_data{
	padding: 0 7px;
	background: #FFF;
	width: 168px;
	text-align: center;
	margin-left: 7px;
	padding-bottom: 5px;
	box-shadow: 0px 3px 7px #ccc;
	height: 265px;
}
.data_currency{
	background: url('/assets/img/background/cercle.png') center center no-repeat;
	height: 34px;
	position: relative;
	margin-top: -30px;
	padding-top: 16px;
	color: #FFF;
	font-size: 14px;
	width: 50px;
	margin-left: 57px;
}
.data_title{
	padding-bottom: 12px;
}
.data_title a{
	color: #d20a0a;
	text-decoration: none;
	font-size: 14px;
}
.data_title a:hover{
	text-decoration: underline;
}
.ruler_bottom{
	height: 7px;
	background: #c20909;
	position: relative;
	width: 144px;
	margin-left: 24px;
}
.data_description{
	font-size: 12px;
}
.data_price{
	font-size: 12px;
}
.data_image:hover{
	opacity: 0.7;
}
.image_similar{
	width: 165px;
	height: 124px;
}

.logo_company img{
 	height: 105px;
    width: 107px;
}
.similar_place_title_right a{
	text-decoration: none;
	color: #000;
}

label.error{
	color: red;
    font-size: 12px;
    float: left;
    margin-left: 11px;
}

.td_single{
	color: #000;
    font-size: 12px;
    padding: 3px 0 3px 3px;
    text-align: left;
    vertical-align: top;
    width: 100%;
}
.floorplan{
	margin: auto;
	padding: 10px 0;
	text-align: center;
}
.floorplan img{
	height: 300px;
    width: 280px;
}
.transportation{
   border: 1px solid #ecf0f1;
   color: #000;
   font-size: 12px;
   margin-top: 20px;
   padding: 15px 25px;
}
.not_found{
	text-align: center;
}
.not_found h2{
	color: #d20a0a;
	padding-bottom: 10px;
}
.des_not_found{
	font-size: 14px;
	text-align: left;
	color: #d20a0a;
}
.container_data_last{
	margin-top: 20px;
}
.container_data_last .content_data{
	margin-left: 21px;
}
.container_data_last .wrap_data_feature{
	margin-left: -19px;
}
.container_data_last .ruler_bottom{
	width: 162px;
	margin-left: 30px;
}
.count_view {
    position: relative;
    background: rgba(255,255,255,0.7);
    padding: 6px 8px;
    margin-top: -120px;
    font-size: 14px;
    z-index: 1;
    float: right;
}
.count_view .num_count {
    color: #d20a0a;
}