.container_favorite{
	width: 100%;
}
.container_favorite .content_left{
	float: left;
	width: 240px;
	background: #ecf0f1;
	padding: 20px 0;
}
.container_favorite .content_left a{
	text-decoration: none;
	color: #000;
}
.content_left .nav_list{
	width: 212px;
	margin: auto;
	text-align: center;
}
.nav_list .title{
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: bold;
}
.nav_list .favorite_total{
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
}
.nav_list p {
	color: #d20a0a;
	font-size:14px;
	font-weight: bold;
}
.nav_list .nav_favorit{
	margin-top:10px;
	padding: 7px 15px;
	background: #fff;
   -moz-box-shadow:     0 1px 0 0 #ccc;
   -webkit-box-shadow:  0 1px 0 0 #ccc;
   box-shadow:          0 1px 0 0 #ccc;
   text-align: left;
   cursor: pointer;
}
.nav_favorit span{
	font-size: 14px;
}
.icon_img{
	vertical-align: middle;
	margin-right: 3px;
}
.container_favorite .content_right{
	float: right;
	width: 750px;
}
.content_right .top_bar{
	padding: 9px 9px;
	background:#ecf0f1;
	margin-bottom: 10px;
}
.top_bar label{
	font-size: 12px;
	font-weight: normal;
	margin-left: 5px;
}
.top_bar span{
	font-size: 12px;
	font-weight: normal;
}
.top_bar .btn_delete{
	width: 100px;
	height: 25px;
	border:none;
	background: #fff;
	-moz-box-shadow:     0 1px 0 0 #ccc;
   -webkit-box-shadow:  0 1px 0 0 #ccc;
   box-shadow:          0 1px 0 0 #ccc;
   margin-left: 20px;
   font-size: 12px;
   font-weight: bold;
   cursor: pointer;
}
.top_bar i{
	color:#d20a0a;
	font-size: 14px;
	margin-right: 3px;
}
.vertical_middle{
	vertical-align: middle;
	margin-left: 15px;
}
.top_bar .btn_search{
	float: right;
	margin-right: 10px;
}
.btn_search .text_keyword{
	width: 150px;
	height: 25px;
	vertical-align: middle;
	border:none;
	text-indent: 7px;
}
.btn_search .search{
	width: 100px;
	height: 26px;
	border:none;
	background: #d20a0a;
	-moz-box-shadow:     0 1px 0 0 #ccc;
   -webkit-box-shadow:  0 1px 0 0 #ccc;
   box-shadow:          0 1px 0 0 #ccc;
   font-size: 12px;
   color:#fff;
   vertical-align: middle;
   font-weight: bold;
   cursor: pointer;
   margin-left: 7px;
}

.wrap_data_feature{
	margin-left: -7px;
	margin-top: 10px;
}
.wrap_data{
	float: left;
	margin-bottom: 17px;
}
.content_data{
	padding: 0 7px;
	background: #FFF;
	width: 168px;
	text-align: center;
	margin-left: 7px;
	padding-bottom: 5px;
	box-shadow: 0px 3px 7px #ccc;
	height: 248px;
	position: relative;
}
.data_currency{
	background: url('/assets/img/background/cercle.png') center center no-repeat;
	height: 34px;
	position: relative;
	margin-top: -30px;
	padding-top: 16px;
	color: #FFF;
	font-size: 14px;
	width: 50px;
	margin-left: 57px;
}
.data_title{
	padding-bottom: 12px;
}
.data_title a{
	color: #d20a0a;
	text-decoration: none;
	font-size: 14px;
}
.data_title a:hover{
	text-decoration: underline;
}
.ruler_bottom{
	height: 7px;
	background: #c20909;
	position: relative;
	width: 144px;
	margin-left: 24px;
}
.data_favorite{
	font-size: 12px;
	cursor: pointer;
}
.data_favorite i{
	font-size: 12px;
	color: #c20909;
}
.data_image:hover{
	opacity: 0.7;
}

.data_check{
	left: 17px;
    position: absolute;
    top: 7px;
}

.pagination {
    margin: 30px 0 20px;
    margin-top: 50px;
    text-align: center;
}
.pagination a {
    color: #000;
    padding: 0 15px;
    text-decoration: none;
}
.pagination a.link_active {
    color: #d20909;
}

.pagination .current {
    color: #d20909;
    padding: 0 15px;
}

.thumb_image{
	width: 165px;
	height: 124px;
}

.pagination a[rel="next"] {
    color: #d20909 !important;
}
.pagination a[rel="prev"] {
    color: #d20909 !important;
}
.count_chk{
	 margin-left: 15px !important;
}

#popup_delete{
	display: none;
}
.popup_header{
	font-size: 14px;
	color: #000;
}
.popup_btn{
	float: right;
	margin-top: 51px;
}

.popup_submit{
	background: #d20a0a ;
	width: 100px;
	height: 25px;
	color: #fff;
	border:none;
	cursor: pointer;
}
.popup_cancel{
	background: #fff ;
	width: 100px;
	height: 25px;
	color: #000;
	border:none;
	cursor: pointer;
}