.table_info{

}
.table_info tr{

}
.table_info tr td{
	padding: 5px 20px;
}
.button_edit_info{
	background-color: #d20a0a;
    border: 0 none;
    color: #ffffff;
    padding: 3px 14px;
    cursor: pointer;
}
.content{
	width: 747px;
	overflow: hidden; 
	padding-left: 13px;
}
.content_info {
    border: 1px solid #ecf0f1;
    margin-bottom: 20px;
    padding-bottom: 146px;
    padding-left: 66px;
    padding-top: 34px;
}

.show_content_info{
	margin-top: 15px;
}
.tool_search_select{
	background-color: #ecf0f1;
    padding: 7px 10px;
}

.container_favorite{
	width: 100%;
}
.container_favorite .content_left{
	float: left;
	width: 240px;
	background: #ecf0f1;
	padding: 20px 0;
}
.container_favorite .content_left a{
	text-decoration: none;
	color: #000;
}
.content_left .nav_list{
	width: 212px;
	margin: auto;
	text-align: center;
}
.nav_list .title{
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: bold;
}
.nav_list .favorite_total{
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
}
.nav_list p {
	color: #d20a0a;
	font-size:14px;
	font-weight: bold;
}
.nav_list .nav_favorit{
	margin-top:10px;
	padding: 7px 15px;
	background: #fff;
   -moz-box-shadow:     0 1px 0 0 #ccc;
   -webkit-box-shadow:  0 1px 0 0 #ccc;
   box-shadow:          0 1px 0 0 #ccc;
   text-align: left;
   cursor: pointer;
}
.nav_favorit span{
	font-size: 14px;
}
.icon_img{
	vertical-align: middle;
	margin-right: 3px;
}
.text_filed{
	border: 1px solid #ecf0f1;
	width: 229px;
	height: 23px;
}
.content_change_pwd{
	display: none;
}
.content_change_pwd table{
	width: 100%;
}
.lb_pwd{
	font-size: 14px;
	text-align: right;
}
.btn_pwd {
    background-color: #d20a0a;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    height: 25px;
    width: 80px;
}
.change_password {
    background-color: #d20a0a;
    border: medium none;
    border-radius: 13px;
    color: #ffffff;
    cursor: pointer;
    height: 25px;
    width: 140px;
    text-decoration: none;
    font-size: 14px;
    padding: 3px 10px;
}
.alert-message .alert{
	font-size: 12px;
	padding: 15px 10px;
	text-align: center;
	margin-bottom: 0;
}
.alert-message .alert-error{
	font-size: 12px;
	color: #D20A0A;
	background-color: rgba(215, 44, 34, 0.5);
}
.error {
    color: red;
    font-size: 12px;
}