
/* Header Style */

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Montserrat', sans-serif; 
}
.contain_header{
	background: #eff3f9 url('/assets/img/background/full_header_bg.jpg') no-repeat center center;
	width: 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	min-height: 603px;
}
.page_size{
	width: 1000px;
	margin: 0 auto;
}
.clear{
	clear: both;
}
.content_logo{
	padding-top: 10px;
	text-align: center;
}
.content_logo img{
	width: 170px;
	height: 100px;
}
.link_pick_city{
	margin-top: 20px;
    position: relative;
    text-align: center;
}
.link_pick_city .pick_city{
	position: absolute;
    right: 410px;
}
.text_site{
	font-size: 18.58px;
}
.content_menu{
	padding-top: 10px;
}
.nav_menu{
	background: url('/assets/img/background/menu_bg.png') no-repeat; 
	width: 972px;
	height: 50px;
	padding-right: 28px;
	float: left;
}
.nav_menu .menu{
	float: left;
	margin-left: 25px;
}
.nav_menu .menu ul{
	list-style: none;
}
.nav_menu .menu ul li{
	display: inline-block;
}
.nav_menu .menu ul li a{
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	display: block;
	padding: 16px 28px;
	margin-top: -2px;
}
.nav_menu .menu ul li a:hover{
	color: #000;
}
.login_register{
	float: right;
	margin-right: 25px;
}
.login_register ul{
	list-style: none;
}
.login_register ul li{
	display: inline-block;
	padding-left: 23px;
	color: #FFF;
}
.login_register ul li a{
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	line-height: 50px;
}
.login_register ul li a:hover{
	text-decoration: underline;
}
.top_text{
	padding-top: 85px;
	color: #FFF;
	text-align: center;
	font-size: 24.01px;
	letter-spacing: 4px;
}
.menu_buy_rent{
	padding: 27px 0 10px 10px;
	background: rgba(255,255,255,0.3);
	width: 482px;
	margin: 0 auto;
	height: 48px;
	padding-top: 27px;
	margin-top: 27px;

}
.menu_buy_rent a{
	color: #FFF;
	text-decoration: none;
	background: #d20a0a;
	padding: 17px 30px;
	font-size: 24.01px;
	line-height: 30px;
	margin-right: 6px;
}
.menu_buy_rent a:hover{
	opacity: 0.8;
}

.content_body .content_search{
	background: #eff3f9 url('/assets/img/background/bg_search.png') repeat center center;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 465px;
}
.form_search{
	text-align: center;
}
.content_rdo{
	padding-top: 40px;
	color: #FFF;
	font-size: 14px;
}
.radio_left{
	float: left;
	margin-left: 215px; 
	padding-top: 8px;
}
.ruler{
	float: left;
	margin: 0 35px;
	border: 1px solid #FFF;
	height: 35px;
}
.radio_right{
	float: left;
	padding-top: 8px;
	margin-left: 10px;
}
.content_rdo label{
	margin-right: 18px;
}
.content_rdo input[type=radio]:not(old){
  width   : 25px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}
.rdo_search:not(old) + label{
	margin-left  : -25px;
    padding-left : 25px;
    padding-bottom: 3px;
	background   : url('/assets/img/background/rdo_no_check.png') no-repeat 0 0;
}
.rdo_search:not(old):checked + label{
	margin-left  : -25px;
    padding-left : 25px;
    padding-bottom: 3px;
    background   : url('/assets/img/background/rdo_checked.png') no-repeat 0 0;
}
.content_select{
	padding-top: 40px;
}
.span_input{
	margin-top: 10px;
}
.content_select input{
	width: 178px;
	height: 33px;
	background: rgba(255,255,255,0.2);
	border: 1px solid #FFF;
	color: #FFF;
	padding-left: 10px;
	letter-spacing: 1px;
}
.span_select {
    width: 178px;
    height: 35px;
    overflow: hidden;
    background: url("/assets/img/background/icon-select.png") no-repeat 90% 50%;
    margin-right: 5px;
}
.span_select select{
   background: rgba(255,255,255,0.2);
   border: 1px solid #FFF;
   width: 178px;
   line-height: 1;
   height: 35px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   color: #FFF;
}
.span_select select option{
    color: #000;
   background: transparent !important;
}
.content_btn{
	padding-top: 40px;
}
.content_btn .btn_search{
	width: 178px;
	height: 35px;
	border: none;
	background: #cc120e;
	color: #FFF;
	font-size: 18px;
	cursor: pointer;
	letter-spacing: 2px;
}
.content_btn .btn_search:hover{
	background: #e5120e;
}
.content_btn .advance_search{
	color: #FFF;
	font-size: 18px;
	line-height: 40px;
	letter-spacing: 1px;
}
.content_btn .advance_search:hover{
	text-decoration: none;
}
.tooltip{
	width: 92px;
	height: 85px;
	background: url('/assets/img/background/tooltip.png') no-repeat;
	margin-top: 39px;
	text-align: center;
	font-size: 12px;
	color: #d20a0a;
	padding-top: 7px;
	margin-left: 33px;
	font-weight: bold;
}
.spacing{
	letter-spacing: 3.5px;
}
.spacing2{
	letter-spacing: 1.5px;
}
.spacing3{
	letter-spacing: 1px;
}
.contact{
	height: 30px;
	background: #FFF;
	border-radius: 50px;
	box-shadow: 0 3px 5px #888;
	padding: 8px 30px 0 30px;
}
.contact_left{
	float: left;
}
.contact_right{
	float: right;
}
.contact img{
	vertical-align: middle;
}
.contact span{
	font-size: 13px;
}
.email{
	margin-left: 20px;
}
.facebook{
	margin-right: 20px;
	color: #3b5998;
}
.skype{
	margin-right: 20px;
	color: #00aeef;
}
.viber{
	margin-right: 20px;
	color: #7b42aa;
}
.facebook a{
	color: #3b5998;
	text-decoration: none;
}
.facebook img{
	width: 17px;
	height: 17px;
}
.skype a{
	color: #00aeef;
	text-decoration: none;
}
.viber a{
	color: #7b42aa;
	text-decoration: none;
}
.line a{
	color: #3ace01;
	text-decoration: none;
}
.content_feature{
	background: #eff3f9 url('/assets/img/background/bg_feature.jpg') no-repeat center center;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 740px;
}
.feature_text{
	text-align: center;
	font-size: 18.02px;
	padding: 55px 0 50px 0;
}
.feature_data_left{
	width: 750px;
	float: left;
}
.feature_data_right{
	width: 240px;
	float: right;
}
.wrap_data{
	float: left;
	margin-bottom: 10px;
}
.content_data{
	padding: 0 7px;
	background: #FFF;
	width: 165px;
	text-align: center;
	margin-left: 7px;
	padding-bottom: 5px;
	box-shadow: 0px 3px 7px #ccc;
	height: 265px;
}
.wrap_data_feature{
	margin-left: -7px;
}
.data_currency{
	background: url('/assets/img/background/cercle.png') center center no-repeat;
	height: 34px;
	position: relative;
	margin-top: -30px;
	padding-top: 16px;
	color: #FFF;
	font-size: 14px;
	width: 50px;
	margin-left: 57px;
}
.data_title{
	padding-bottom: 12px;
}
.data_title a{
	color: #d20a0a;
	text-decoration: none;
	font-size: 14px;
}
.data_title a:hover{
	text-decoration: underline;
}
.ruler_bottom{
	height: 7px;
	background: #c20909;
	position: relative;
	width: 144px;
	margin-left: 24px;
}
.data_description{
	font-size: 12px;
}
.data_price{
	font-size: 12px;
}
.data_image{
	width: 165px;
	height: 128px; 
}
.data_image img{
	width: 165px;
	height: 124px; 
}
.data_image img:hover{
	opacity: 0.7;
}
.count_view{
	position: relative;
	background: rgba(255,255,255,0.7);
	padding: 6px 8px;
	margin-top:-120px;
	font-size: 14px;
	z-index: 1;
	float: right;
}
.count_view .num_count{
	color: #d20a0a;
}
.data_right_top{
	border: 3px solid #FFF;
	padding: 20px;
	text-align: center;
}
.text_service{
	padding: 2px 0 35px 0;
	font-size: 18px;
}
.link_short_stay{
	text-decoration: none;
	color: #000;
}
.buy_service{
	float: left;
	text-align: center;
	margin-left: 12px;
	margin-top: 25px;
}
.rent_service{
	float: right;
	text-align: center;
	margin-right: 12px;
	margin-top: 25px;
}
.data_right_top a:hover{
	text-decoration: underline;
	opacity: 0.8;
}
.data_right_bottom{
	margin-top: 15px;
}
.data_right_bottom img:hover{
	opacity: 0.8;
}
.content_place{
	background: #ecf0f1;
	padding-bottom: 40px;
}
.text_get_place{
	text-align: center;
	padding-top: 40px;
	font-size: 18px;
}
.content_step{
	padding-top: 40px;
}
.in_step{
	width: 286px;
	background: #FFF;
	float: left;
	padding: 10px 20px 30px 20px;
	box-shadow: 0px 5px 7px #ccc;
	text-align: center;
}
.buy_step{
	margin-left: 10px;
}
.short_stay_step{
	margin-left: 10px;
}
.text_step{
	font-weight: bold;
	color: #d20a0a;
	font-size: 54px;
}
.step_title{
	font-size: 18px;
}
.step_description{
	font-size: 12px;
}
.step{
	padding-top: 10px;
}
.step a{
	padding: 5px 15px;
	text-decoration: none;
	color: #FFF;
	background: #d20a0a;
}
.step a:hover{
	opacity: 0.8;
}
.link-step{
	padding-top: 25px;
}
.content_blog{
	background: #ffffff;
	width: 100%;
	/*padding: 20px 0;*/
}
.blog_text{
	text-align: center;
	font-size: 18.02px;
	padding-top: 40px;
}
.blog_link{
	text-align: center;
	padding: 20px 0 30px 0;
}
.blog_link span{
	margin-right: 8px;
}
.blog_link span a{
	text-decoration: none;
	color: #000;
	line-height: 40px;
	padding: 5px 15px;
	background: #ecf0f1;
	cursor: pointer;
}
.blog_link span a:hover{
	background: #d20a0a;
	color: #FFF;
}
.blog_link span a.blog_link_active{
	background: #d20a0a;
	color: #FFF;
}
.blog_data{
	background: #FFF;
	text-align: center;
}
.blog_data_left{
	width: 750px;
	float: left;
}
.blog_data_right{
	width: 240px;
	float: right;
}
.blog_data_right img:hover{
	opacity: 0.8;
}
.content_data_blog{
	padding: 5px 10px 5px 0;
	background: #ecf0f1;
	margin-bottom: 10px;
}
.data_image_blog{
	float: left;
	width: 210px;
	height: 109px;
}
.data_image_blog img{
	width: 210px;
	height: 109px;
}
.data_image_blog:hover{
	opacity: 0.7;
}
.data_description_blog{
	float: left;
	background: #FFF;
	width: 550px;
	margin-top: 5px;
	margin-left: -30px;
	position: relative;
	padding: 5px;
	height: 89px;
	box-shadow: 0px 3px 3px #c6c9ca;
}
.blog_title{
	font-size: 14px;
	text-transform: uppercase;
}
.blog_date{
	font-size: 12px;
	color: #d20a0a;
	padding-bottom: 5px;
}
.blog_description{
	font-size: 12px;
}
.blog_description span a{
	color: #1e88e5;
	text-decoration: none;
}
.blog_description span a:hover{
	color: #1e88e5;
	text-decoration: underline;
}
.more_blog{
	text-align: center;
	padding: 20px 0;
}
.more_blog a{
	text-decoration: none;
	color: #000;
	font-size: 14px;
	line-height: 30px;
	padding: 8px 25px;
	background: #ecf0f1;
}
.more_blog a:hover{
	color: #000;
	background: #dde0e1;
}
.data_right_blog img{
	margin-bottom: 3px;
	width: 100%;
}

/* Footer Style */

.content_contact{
	background: #eff3f9 url('/assets/img/background/footer_bg.jpg') repeat center center;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 271px;
}
.contac_info{
	text-align: center;
}
.text_contact{
	font-size: 18px;
	color: #FFF;
	padding-top: 50px;
	letter-spacing: 3px;
}
.txet_des_contact{
	font-size: 14px;
	color: #FFF;
	padding-top: 20px;
	letter-spacing: 3px;
}
.form_email{
	padding-top: 25px;
}
.con_email{
	width: 290px;
	border: none;
	background: #a80808;
	height: 35px;
	padding-left: 10px;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 1px;
}
.btn_sub{
	width: 178px;
	border: none;
	background: #FFF;
	height: 35px;
	color: #000;
	margin-top: 20px;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 2px;
}
.btn_sub:hover{
	background: #CCC;
}
.content_footer_bottom{
	padding: 30px 0;
}
.footer_left{
	float: left;
	font-size: 13px;
}
.footer_right{
	float: right;
	font-size: 13px;
}

.not_found{
	text-align: center;
	color: #d20a0a;
}

@media only screen and (max-width: 1024px) {
    .contac_info{
        background: #eff3f9 url('/assets/img/background/footer_bg.jpg') repeat center center;
		width: 1000px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-height: 271px;
    }
    .search {
        background: #eff3f9 url('/assets/img/background/bg_search.png') repeat center center;
		width: 1000px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-height: 465px;
    }
    .feature_data{
    	background: #eff3f9 url('/assets/img/background/bg_feature.jpg') no-repeat center center;
		width: 1000px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-height: 740px;
    }
	.content_place{
		background: #ecf0f1;
		width: 1000px;
	}
	.contain_header{
		background: #eff3f9 url('/assets/img/background/full_header_bg.jpg') repeat center center;
		width: 1000px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-height: 603px;
	}
}

.warp_text_contact{
	float: left;
	width: 700px;
	text-align: center;
}
.content_fb_page{
	float: right;
	width: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
}

