

.content_menu_list{
	text-align: center;
	margin-bottom: 25px;
}
.content_menu_list .link_list{
	width: 200px;
	height: 35px;
	display: inline-block;
	line-height: 35px;
	background: #ecf0f1;
	text-decoration: none;
	color: #000;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 13px;
}
.content_menu_list .link_list:hover{
	background: #d20a0a;
	color: #FFF;
}
.content_menu_list .text_list{
	width: 200px;
	height: 35px;
	display: inline-block;
	line-height: 35px;
	background: #d20a0a;
	color: #FFF;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 13px;
}
.list_data{
	width: 748px;
	float: right;
}
.content_filter{
	width: 238px;
	float: left;
	background: #d20a0a;
	padding: 1px;
}
.text_filter{
	color: #FFF;
	font-size: 16px;
	text-align: center;
	padding: 20px 0;
}
.title_text{
	background: #FFF;
	padding: 10px 0;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
}
.frm_filter{
	padding: 10px;
	background: #ecf0f1;
}
.frm_filter table{
	width: 100%;
}
.frm_filter table tr td{
	width: 33.33%;
	padding-left: 10px;
}
.frm_filter .custom_td{
	padding-left: 12px;
}
.frm_filter table.position_td tr td{
	width: 50%;
	padding: 0;
}
.frm_filter span.maked1,.frm_filter span.maked2{
	padding-left: 23px; 
}
.content_filter input[type="checkbox"] {
    display: none;
}
.content_filter input[type="checkbox"]+label {    
    background: url('/assets/img/icon/unc.png') no-repeat;
    padding-left: 22px;
    padding-top: 1px;
    font-size: 12px;
    line-height: 28px;
}
.content_filter input[type="checkbox"]:checked + label {
    background: url('/assets/img/icon/c.png')  no-repeat;
}
.frm_filter.center{
	text-align: center;
	padding: 8px 0;
}
.frm_filter select{
	width: 100px;
	height: 27px;
	border: none;
	box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	padding-left: 4px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: #FFF url('/assets/img/background/sort.png') 90% 50% no-repeat;
   padding-right: 20px;
}
.frm_filter select option{
	padding-left: 5px;
}
.frm_filter .space{
	padding: 0 1px;
}
.frm_filter input[type="text"]{
	width: 90px;
	height: 34px;
	border: none;
	box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	padding-left: 4px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.span_left{
	padding-left: 3px;
}
.span_right{
	padding-left: 20px;
}
.center_submit input{
	width: 90px;
	height: 35px;
	border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #d20a0a;
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
    margin-right: 3px;
}
#btn_reset{
	background: #FFF;
	color: #000;
	border: 1px solid #bbb;
}
.center_submit input:hover{
	opacity: 0.8;
}
.frm_filter.center_submit{
	text-align: center;
	padding: 0;
	padding-bottom: 40px;
}
.data_top{
	margin-bottom: 25px;
}
.data_top_left{
	float: left;
}
.data_top_right{
	float: right;
}
.map_icon{
	color: #d20909;
	font-size: 24px;
	line-height: 0;
}
.text_perfecture{
	font-size: 14px;
	text-transform: uppercase;
}
.text_city{
	font-size: 14px;
}
.total_number{
	color: #d20a0a;
}
.text_sort{
	font-size: 14px;
}
.most_recent {
    width: 122px;
    height: 21px;
    overflow: hidden;
    background: url("/assets/img/sort.png") no-repeat right;
}
.most_recent select{
   background: rgba(255,255,255,0.2);
   border: 1px solid #FFF;
   width: 122px;
   line-height: 1;
   height: 21px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   color: #d20909;
   font-size: 14px;
   font-weight: bold;
}
.data_home_list{
	box-shadow: 0px 3px 7px rgba(0,0,0,0.3);
	margin-bottom: 13px;
	height: 180px;
	background: #ffffff;
}
.data_description{
	width: 415px;
	float: left;
}
.data_img{
	width: 319px;
	float: left;
	height: 178px;
}
.content_company{
	padding: 6px 13px;
	height: 38px;
	background: #FFF;
}
.company_name{
    padding-top: 10px;
    float: left;
}
.company_name a{
	font-size: 14px;
    color: #d20909;
    text-decoration: none;
}
.company_name a:hover{
    text-decoration: underline;
    opacity: 0.8;
}
.company_logo{
	float: right;
	width: 59px;
	height: 39px;
}
.company_logo img{
	width: 59px;
	height: 39px;
}
.detail_home{
	padding: 10px 13px 8px 13px;
	background: #ecf0f1;
	height: 112px;
}
.content_price{
	width: 167px;
	min-height: 108px;
	background: #FFF;
	text-align: center;
	box-shadow: 0px 3px 7px rgba(0,0,0,0.3);
	float: left;
}
.text_price{
	font-size: 12px;
	padding-top: 20px;
	font-weight: bold;
}
.num_price{
	font-size: 18px;
	color: #d20909;
	padding-top: 6px;
	font-weight: bold;
}
.link_fav{
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
.heart_icon{
	color: #d20909;
	padding-top: 6px;
	font-size: 15px;
}
.status_icon{
	color: #d20a0a;
	font-size: 14px;
	padding-left: 5px;
}
.content_des{
	float: left;
	padding-left: 20px;
	min-height: 108px;
}
.content_des table tr td:first-child{
	color: #5e6061;
	font-size: 12px;
	text-align: right;
}
.content_des table tr td:last-child{
	color: #000;
	font-size: 12px;
	padding-left: 3px;
}
.content_des table tr td.td_price{
	color: #d20909;
}
.content_des table tr td sup{
	font-size: 8px;
}
.big_img_list{
	float: left;
	height: 180px;
	width: 237px;
}
.big_img_list img{
	height: 180px;
	width: 237px;
}
.thumb_img_list{
	float: left;
	margin-left: 2px;
	width: 80px;
}
.c_thumb{
	height: 59.5px;
	margin-bottom: 1px;
}
.c_thumb img{
	width: 100%;
	height: 59px;
}
.pagination{
	margin: 30px 0 20px 0;
	text-align: center;
}
.pagination a{
	text-decoration: none;
	padding: 0 15px;
	color: #000;
}
.pagination a.link_active{
	color: #d20909;
}
.pagination a.link_active:hover{
	text-decoration: underline;
}
.pagination a[rel="prev"]{
	color: #d20909;
}

.pagination a[rel="next"]{
	color: #d20909;
}
.pagination a[rel="prev"]:hover{
	text-decoration: underline;
}

.pagination a[rel="next"]:hover{
	text-decoration: underline;
}
.pagination .current{
	color: #d20909;
	padding: 0 15px;
}
.pagination a:hover{
	color: #d20909;
}
.our_service{
	text-align: center;
	background: url('/assets/img/background/bg_service.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 322px;
}
.text_service{
	padding: 25px 0;
	font-size: 18px;
}
.link_short_stay{
	text-decoration: none;
	color: #000;
}
.buy_service{
	float: left;
	text-align: center;
	margin-left: 37px;
	margin-top: 25px;
}
.rent_service{
	float: right;
	text-align: center;
	margin-right: 37px;
	margin-top: 25px;
}
img:hover{
	opacity: 0.8;
}
.our_service img:hover{
	opacity: 1;
}
.span_sort{
	font-size: 12px;
	padding: 5px 10px;
	background: #ecf0f1;
	margin-right: 8px;
}
.span_sort span{
	padding-right: 5px;
}
.span_sort a{
	padding-left: 5px;
}
.not_found{
	text-align: center;
	color: #d20a0a;
}
.count_view{
	position: relative;
	background: rgba(255,255,255,0.7);
	padding: 6px 8px;
	margin-top:-180px;
	font-size: 14px;
	z-index: 1;
	float: right;
}
.count_view .num_count{
	color: #d20a0a;
}