.inner_container{
	margin:auto;
	padding: 0;
	text-align: center;
}
.content_menu_register{
	text-align: center;
	margin-bottom: 25px;
}
.content_menu_register .link_register{
	width: 200px;
	height: 35px;
	display: inline-block;
	line-height: 35px;
	background: #ecf0f1;
	text-decoration: none;
	color: #000;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 13px;
}
.content_menu_register .link_register:hover{
	background: #d20a0a;
	color: #FFF;
}

.content_menu_register .text_register{
	width: 200px;
	height: 35px;
	display: inline-block;
	line-height: 35px;
	background: #d20a0a;
	color: #FFF;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 13px;
}
.form{
	width: 500px;
	background:#ecf0f1;
	text-align: center;
	margin: auto;
	padding-bottom: 30px;
	margin-bottom: 60px;

}
.contain_input{
	width: 361px;
	margin:auto;
	text-align: left;
}
.title{
	font-size: 14px;
	font-weight: bold;
	padding-top: 35px;
	padding-bottom: 30px;
	color:#000000;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.form_controll{
	width: 361px;
	height: 28px;
	font-size: 14px;
	text-indent: 10px;
	border: none;
}
.submit_controll{
	width: 212px;
	height: 38px;
	color:#ffffff;
	background:#d20a0a;
	border:none;
	font-size: 14px;
	margin-top:17px;
	margin-bottom: 44px;
	cursor: pointer;
}
.form a{
	text-decoration: none;
}
.forget{
	font-size: 12px;
	color:#0000ff;
}
.dont{
	font-size: 12px;
	color:#000000;
}
.not_register{
	font-size: 12px;
	color:#d20a0a;
	margin-left: 10px;

}
 form label.error {
    color:#d20a0a;
    font-size: 12px;
    font-style: italic;
    text-align: left !important;
    text-transform: none !important;
    margin-bottom: 6px;
}
.php_error{
	margin-bottom: 8px;
	color:#d20a0a;
    font-size: 12px;
    font-style: italic;
    text-align: left !important;
    text-transform: none !important;
}