.container_market_price{
	width: 100%;
}
.container_market_price .bar_title{
	width: 368px;
	padding: 9px 0 9px 0;
	background: #d20a0a;
}
.normal_p{
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: bold;
}
.market_title{
	margin-left: 20px;
	color: #fff;
	font-size: 14px;
	vertical-align: middle;
	font-weight: bold;
}
.market_title i{
	font-size: 20px;
}
.container_left{
	margin-top: 22px;
	float: left;
	width: 250px;
}
.data_radio{
	margin-top: 18px;
	margin-left: 5px;
}
.container_left .p_top{
	margin-top: 20px;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: bold;
}

 input[type="radio"]:not(old){
   	display: none;
}

 input[type="radio"]:not(old) + label{
    background: url('/assets/img/icon/unchk_radio.png') no-repeat;
    height: 20px;
    display:inline-block;
    padding-left: 25px;
    padding-top: 1px;
}
input[type="radio"]:not(old):checked + label{
    background:  url('/assets/img/icon/chk_radio.png') no-repeat;
    height: 20px;
    display:inline-block;
    padding-left: 25px;
    padding-top: 1px;
}
.text_radio{
	font-size: 14px;
	color: #000000;
	letter-spacing: 2px;
}
.container_middle{
	float: left;
	margin-right: 10px;
	width: 240px;
	margin-top: 22px;
}
.city_title{
	width: 100%;
	padding: 7px 0 7px 0;
	text-align: center;
	background: #ecf0f1;
}
.data_city{
	text-align: center;
	font-size: 12px;
	font-weight:normal;
	margin-top: 28px;
}

.container_right{
	width: 500px;
	margin-top: 22px;
	float: right;
}
.maket_price_bar{
	width: 100%;
	padding: 7px 0 7px 0;
	text-align: center;
	background: #ecf0f1;
}
.data_side_bar{
	width: 750px;
	margin-top: 20px;
	float: right;
}
.city{
	width:240px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
}
.city_value{
	padding-left: 16px;
	width: 80px;
	font-size: 14px;
	font-weight: normal;
}
.city_slide_bar{
	max-width: 300px;
	min-width: 300px;
	  padding-right: 6px;
}
.prograss_bar{
	background: #bbe820;
	height: 26px;
	max-width: 300px;
} 
.data_side_bar .search{
	width: 98px;
	height: 30px;
	background: #d20a0a;
	color:#fff;
	border-radius: 25px;
	font-size: 14px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	vertical-align: middle;
}