.content_title{
	width: 100%;
}
.pick_search{
	width: 212px;
	float: left;
	padding: 8px 0 8px 20px;
	margin-right: 8px;
	background: #d20a0a;
}
.pick_search span{
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 2px;
}
.count_list{
	width: 150px;
	float: left;
	padding: 8px 0 8px 20px;
	font-weight: bold;
	font-weight: 12px;
	letter-spacing: 1px;
	color: #000;
	margin-right: 8px;
	background: #ecf0f1;
	padding-right: 40px;
}
.count_list span{
	font-size: 14px;
	font-weight: bold;
}
.count_list img{
	vertical-align: middle;
	float: right;
}
.content_left_city{
	float: left;
	width: 750px;
	margin:auto;
	height: 766px;
	background-image: url("/assets/img/background/backgroud_map.png");
	background-repeat: no-repeat;
}
.content_right{
	float: right;
	width: 240px;
	margin-top: 30px;
}
.content_right_top{
	border: 1px solid #ecf0f1;
}
.img{
	vertical-align: middle;
}
.content_right_top .map_market_short{
	padding: 15px;
	border-bottom:1px solid #ecf0f1;
	cursor: pointer;
}
.content_right a{
	text-decoration: none;
}
.content_right_top .margin_left_7{
	margin-left: 7px;
	font-size: 14px;
	color: #000;
}
.couple_top{
	height: 118px;
	border-bottom:1px solid #ecf0f1;
}
.couple_bottom{
	height: 118px;
}
.data_couple{
	float: left;
	width: 115px;
	height: 118px;
	border-right:1px solid #ecf0f1;
}
.data_couple_no{
	float: left;
	height: 118px;
	width: 115px;
}
.couple{
	text-align: center;
	vertical-align: middle;
	padding-top: 30px;
	cursor: pointer;
}

.text_couple{
	color:#00aeef;
	font-weight: bold;
	font-size: 12px;
}
.text_school{
	color:#7a44a6;
	font-weight: bold;
	font-size: 12px;
}
.text_new_constr{
	color:#3ace01;
	font-weight: bold;
	font-size: 12px;
}
.text_company{
	color:#000;
	font-weight: bold;
	font-size: 12px;
}

.company_info{
	margin-top:13px;
	border:1px solid #ecf0f1;
	padding: 0px 13px 20px 13px;

}
.data_info{
	margin-top: 20px;
}
.data_info span{
	font-size: 14px;
	margin-left: 5px;
}
.btn_touchigi{
	height: 28px;
    left: 324px;
    position: relative;
    top: 177px;
    width: 150px;
    z-index: 9;
    background:#f6ecec;
    border:none;
    border:1px solid #ecf0f1;
    letter-spacing: 1px;
    cursor: pointer;
}
.btn_gunma{
	background: #f6ecec none repeat scroll 0 0;
    border:1px solid #ecf0f1;
    height: 28px;
    left: -66px;
    position: relative;
    top: 213px;
    width: 150px;
    z-index: 9;
    letter-spacing: 1px;
     cursor: pointer;
}
.btn_ibaraki{
	background: #f6ecec none repeat scroll 0 0;
    border: 1px solid #ecf0f1;
    height: 28px;
    left: 106px;
    position: relative;
    top: 353px;
    width: 150px;
    z-index: 9;
    letter-spacing: 1px; 
    cursor: pointer;
}
.btn_saitama{
	background: #f6ecec none repeat scroll 0 0;
    border: 1px solid #ecf0f1;
    height: 28px;
    left: -288px;
    position: relative;
    top: 399px;
    width: 150px;
    letter-spacing: 1px;
    cursor: pointer;
}
.btn_tokyo{
	background: #f6ecec none repeat scroll 0 0;
    border: 1px solid #ecf0f1;
    height: 28px;
    left: 255px;
    position: relative;
    top: 488px;
    width: 150px;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn_kanagawa{
	background: #f6ecec none repeat scroll 0 0;
    border:1px solid #ecf0f1;
    height: 28px;
    left: -5px;
    position: relative;
    top: 581px;
    letter-spacing: 1px;
    width: 150px;
    cursor: pointer;
}
.btn_chiba{
	background: #f6ecec none repeat scroll 0 0;
    border:1px solid #ecf0f1;
    height: 28px;
    left: 114px;
    position: relative;
    top: 598px;
    width: 150px;
    letter-spacing: 1px;
    cursor: pointer;
}

.image_right{
	vertical-align: middle;
	margin-left: 3px;
}

.skype a {
    color: #00aeef;
    text-decoration: none;
    cursor: pointer;
}
.viber a {
    color: #7b42aa;
    text-decoration: none;
    cursor: pointer;
}
.line a {
    color: #3ace01;
    text-decoration: none;
}