

.content_register{
	width: 500px;
	margin: 0 auto;
}
.content_menu_register{
	text-align: center;
	margin-bottom: 25px;
}
.content_menu_register .link_login{
	width: 200px;
	height: 35px;
	display: inline-block;
	line-height: 35px;
	background: #ecf0f1;
	text-decoration: none;
	color: #000;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 13px;
}
.content_menu_register .link_login:hover{
	background: #d20a0a;
	color: #FFF;
}
.content_menu_register .text_register{
	width: 200px;
	height: 35px;
	display: inline-block;
	line-height: 35px;
	background: #d20a0a;
	color: #FFF;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 13px;
}
.content_frm_register{
	background: #ecf0f1;
	text-align: center;
	padding-bottom: 50px;
}
.content_form{
	width: 365px;
	margin: 0px auto;
	margin-bottom: 4px;
}
.text_create{
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 35px 0 30px 0;
	font-weight: bold;
}
.username{
	width: 176px;
	height: 28px;
	border: none;
	color: #000;
	text-indent: 10px;
	letter-spacing: 1px;
	font-size: 14px;
}
.frm_reg{
	width: 365px;
	height: 28px;
	border: none;
	color: #000;
	text-indent: 10px;
	letter-spacing: 1px;
	font-size: 14px;
}
.first_name{
	float: left;
	width: 176px;
}
.last_name{
	float: right;
	width: 176px;
}
.content_btn_reg{
	padding: 11px 0 20px 0;
}
.btn_register{
	width: 200px;
	height: 35px;
	display: inline-block;
	line-height: 35px;
	background: #d20a0a;
	color: #FFF;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 13px;
	border: none;
	cursor: pointer;
	opacity: 0.9;
}
.btn_register:hover{
	opacity: 1;
	font-weight: bold;
}
.text_agree{
	font-size: 12px;
}
.go_login{
	font-size: 12px;
	text-decoration: none;
	color: #d20a0a;
}
.go_login:hover{
	text-decoration: underline;
}

.agree_privacy input[type="checkbox"] {
    display: none;
}
.agree_privacy input[type="checkbox"]+label {    
    background: url('/assets/img/icon/unc.png') no-repeat;
    height:17px;
    padding-left: 22px;
    padding-top: 1px;
}
.agree_privacy input[type="checkbox"]:checked + label {
    background: url('/assets/img/icon/c.png')  no-repeat;
    height:17px;
}
.error_firstname{
	float: left;
	width: 170px;
	color: #d20a0a;
	font-size: 10px;
	padding-top: 5px;
	font-style: italic;
}
.error_lastname{
	float: left;
	width: 175px;
	margin-left: 8px;
	color: #d20a0a;
	font-size: 10px;
	padding-top: 5px;
	font-style: italic;
	padding-left: 10px;
}
.error_prefix{
	color: #d20a0a;
	font-size: 10px;
	width: 365px;
	margin: 0 auto;
	text-align: left;
	padding-top: 5px;
	font-style: italic;
}
.error_prefix_check{
	color: #d20a0a;
	font-size: 11px;
	width: 365px;
	margin: 0 auto;
	padding-top: 5px;
	font-style: italic;
}
.content_form{
	text-align: left !important;
}
.content_form label.error{
	color: #d20a0a;
	font-size: 11px;
	font-style: italic;
}