

.menu_step{
	padding-left: 240px;
}
.menu_step div.list_menu{
	float: left;
	margin-right: 10px;
	font-size: 18px;
	width: 165px;
	height: 36px;
	text-align: center;
	background: #ecf0f1;
	line-height: 36px;
}
.menu_step div.active{
	background: #d20a0a;
	color: #FFF;
}
.menu_step div.list_menu:hover{
	background: #d20a0a;
	color: #FFF;
	cursor: pointer;
}
.content_step_detail{
	box-shadow: 0px 6px 7px #ccc;
	/*margin-top: -22px;*/
	padding: 25px 25px 25px 25px;
}
.how_to_buy{
	margin-bottom: 15px;
}
.content_step_detail .text_title{
	color: #d20a0a;
	font-size: 14px;
	line-height: 22px;
}
.text_description{
	font-size: 12px;
	color: #000;
	line-height: 22px;
}
.step_img{
	float: left;
	margin-top: 20px;
}
.step_block{
	float: left;
	margin-left: 10px;
}
.content_table_step{
	margin-top: 20px;
	background: #ecf0f1;
	padding: 20px;
}
.content_table_step table tr td{
	font-size: 12px;
}
.content_table_step table tr td:last-child{
	padding-left: 20px;
}
.content_table_step table tr td span{
	color: #d20a0a;
}
.tab-content{
	display: none;
}
.tab-content.current{
	display: inherit;
}