
.videos_data{
	width: 760px;
	float: left;
	margin-left: -12px;
}
.list_adv{
	width: 240px;
	float: right;
}
.our_service{
	text-align: center;
	background: url('/assets/img/background/bg_service.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 322px;
}
.text_service{
	padding: 25px 0;
	font-size: 18px;
}
.link_short_stay{
	text-decoration: none;
	color: #000;
}
.buy_service{
	float: left;
	text-align: center;
	margin-left: 37px;
	margin-top: 25px;
}
.rent_service{
	float: right;
	text-align: center;
	margin-right: 37px;
	margin-top: 25px;
}
.our_service a:hover{
	text-decoration: underline;
	opacity: 0.8;
}
.list_adv .advertise{
	padding-top: 10px;
}
.list_adv .advertise img{
	width: 100%;
	height: auto;
	margin-bottom: 5px;
}

.not_found{
	text-align: center;
	color: #d20a0a;
}

img:hover{
	opacity: 0.8;
}
.our_service img:hover{
	opacity: 1;
}
.cover_videos{
	float: left;
	padding: 0px 12px;
	width: 217px;
	box-shadow: 0 3px 7px #ccc;
	margin: 0 0px 12px 12px;
}
.cover_videos .content_image_videos,.content_image_videos img{
	height: 170px;
	width: 100%;
}
.cover_videos .title_videos{
	padding: 14px 0;
}
.cover_videos .title_videos a{
	text-decoration: none;
	color: #d0090c;
	font-size: 14px;
}
.cover_videos .title_videos a:hover{
	text-decoration: underline;
}
.pagination{
	margin: 30px 0 20px 0;
	text-align: center;
}
.pagination a{
	text-decoration: none;
	padding: 0 15px;
	color: #000;
}
.pagination a.link_active{
	color: #d20909;
}
.pagination a.link_active:hover{
	text-decoration: underline;
}
.pagination a[rel="prev"]{
	color: #d20909;
}

.pagination a[rel="next"]{
	color: #d20909;
}
.pagination a[rel="prev"]:hover{
	text-decoration: underline;
}

.pagination a[rel="next"]:hover{
	text-decoration: underline;
}
.pagination .current{
	color: #d20909;
	padding: 0 15px;
}
.pagination a:hover{
	color: #d20909;
}
.content_popup{
	display: none;
}